@using Master.Web.Components
@using Master.Case
@model List<CaseSourceHistory>
@{
    ViewData["Title"] = "Index";
}
<div style="padding:20px;">
    <table class="layui-table">
        <thead>
            <tr>
                <th>退回人</th>
                <th>退回时间</th>
                <th>退回理由</th>
            </tr>
        </thead>
        <tbody >
            @foreach(var history in Model)
            {
                <tr>
                    <td>@history.CreatorUser?.Name</td>
                    <td>@history.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@history.Reason</td>
                </tr>
            }
        </tbody>
    </table>
</div>