body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:6205px;
}
#u4602 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:6205px;
}
#u4603 {
  position:absolute;
  left:2px;
  top:3094px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
