@using Master.Web.Components
@using Master.Authentication
@{
    
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}

<div style="padding:15px">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">现有密码<span class="my-required-span" >*</span></label>
            <div class="layui-input-block">
                <input type="password" name="oriPassword" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码<span class="my-required-span">*</span></label>
            <div class="layui-input-block">
                <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重复密码<span class="my-required-span">*</span></label>
            <div class="layui-input-block">
                <input type="password" name="repeatPassword" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="display:none">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit="" id="btnSubmit">@L("提交")</button>
            </div>
        </div>
        @*<div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="button" lay-submit="" lay-filter="submit">提交</button>
                </div>
            </div>*@
    </form>
</div>

@section scripts{
    <script>
        config.ready = function () {
            layui.form.on("submit", function (data) {
                if (data.field.password != data.field.repeatPassword) {
                    layer.msg("您两次输入的新密码不一样，请重新输入", { icon: 5, anim: 6 });
                    return false;
                }
                func.runAsync(abp.services.app.user.changePassword(data.field.oriPassword, data.field.password).done(function (data) {
                    layer.msg("修改成功");
                    window.setTimeout(function () { top.location.href = '/Account/GMLogout'; }, 1000);
                    
                }));

            })
        }
        function submit() {
            $("#btnSubmit").click();
        }

    </script>
}