
@using Abp.Extensions
@using Abp.MultiTenancy
@using Master;
@using Abp.Web.Security.AntiForgery
@using Master.Configuration;
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject WebCoreConfiguration WebCoreConfiguration
@model Master.Web.Models.Account.LoginFormViewModel
@{
    //登录页
	Layout = "_LayoutJianFa";
	//var softTitle = await SettingManager.GetSettingValueForApplicationAsync(AppSettingNames.SoftTitle);
	var softTitle = WebCoreConfiguration.SoftName;
	AbpAntiForgeryManager.SetCookie(Context);
}
@section styles{ 
    <style>
        .error input{
            border:1px solid red;
        }
    </style>
}
    <div id="app">
       
        <div class="jianfa-ewm login" >
            <div class="left"><img src="/assets/jianfa/ima/logo.png"></div>
            <div class="right">
                <!--登陆-01-->
                <div class="neirong-top" v-show="step==1">
                    <ul>
                        <li class="eiweima-a"><a ><img :src="qrCode" width="170" height="170"></a></li>
                        <li>请使用微信扫码登陆</li>
                        <li class="explain">
                            一份代理律师水平高超、诉讼方案正确高效<br/>举证质证精彩<br/>法官说理充分，极具说服力的民事判决书<br/>就是一个百宝箱，甚至一座金矿<br/>很多有价值的信息等待我们去挖掘！
                        </li>
                    </ul>
                </div>
                <!--登陆-02-->
                <div class="neirong-top" v-show="step==2">
                    <ul>
                        <li class="tips">提示说明</li>
                        <li class="explain">
                            工厂尚处于试运营阶段，仅对注册律师开放。如您满足下列条件，非常欢迎您的加入：<br><br>

                            1、民事诉讼领域执业律师，独立执业5年以上；<br>
                            2、认同律师专业化发展的理念，已经或正在完成专业化转型；<br>
                            3、为此，愿意每周拿出1-2小时，并愿意分享自己的观点。<br><br>

                            @*假字说明注解占位文字这是假字说明注；假字说明注解占位文字这是假字说明注；*@
                        </li>
                        <li>
                            <i1><a @@click="step=3" class="btn-submit">填写信息</a></i1>
                            <i2><a @@click="location.reload()" class="btn-cancel">取 消</a></i2>
                        </li>
                    </ul>
                </div>
                <!--登陆-03-->
                <div class="neirong-top" v-show="step==3">
                    <ul>
                        <li class="tips">填写个人信息</li>
                        <li class="explain">

                            <dl>
                                <dd>
                                    <i3><img :src="currentItem.avata" width="70" height="70"></i3>
                                </dd>
                                <dd :class="{error:!currentItem.name && validating}">
                                    <label class="label-text">姓名</label>
                                    <input type="text" class="i-text" v-model="currentItem.name" placeholder="请输入你的姓名" />

                                </dd>
                                <dd :class="{error:!currentItem.workLocation && validating}">
                                    <label class="label-text">律所</label>
                                    <input type="text" class="i-text" v-model="currentItem.workLocation" placeholder="请输入你的当前所在律所" />
                                </dd>
                                <dd :class="{error:!currentItem.phoneNumber && validating}">
                                    <label class="label-text">手机</label>
                                    <input type="text" class="i-text" v-model="currentItem.phoneNumber" placeholder="请输入你的手机" />
                                </dd>
                                <dd :class="{error:!currentItem.email && validating}">
                                    <label class="label-text">邮箱</label>
                                    <input type="text" class="i-text" v-model="currentItem.email" placeholder="请输入你的邮箱" />
                                </dd>
                                <dd>
                                    <label class="label-text">留言</label>
                                    <input type="text" class="i-text" v-model="currentItem.remarks" placeholder="" />
                                </dd>
                                @*<dd>您的邮箱<input type="text" class="i-text" v-model="currentItem.email" placeholder="请输入你的邮箱" /></dd>
            <dd>您的留言<input type="text" class="i-text" v-model="currentItem.remarks" placeholder="" /></dd>*@
                            </dl>
                        </li>
                        <li>
                            
                            <i1><a @@click="doSubmit" class="btn-submit">提交申请</a></i1>
                            <i2><a @@click="step=2" class="btn-cancel">取 消</a></i2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--<button class="btn-submit"></button>-->
<!--footer-->
<footer><div class="ziti-a">2017-2020 | Copyright | 版权声明 | 简法二手房  ( 沪ICP备00000000号 )</div></footer>

@section scripts{
<script type="text/babel">
    if (self != top) {
        top.location.href = '/Account/Login';
    }
    $("body").addClass("index-bj");

    var guid = "@ViewBag.Guid";
		var app = new Vue({
            el: '#app',
            data: {
                step:1,//第一步
                status: 0,
                isCheck: false,
                currentItem: {
                    openid:'',
                    name: '',
                    nickName:'',
                    workLocation: '',
                    phoneNumber: '',
                    email:'',
                    avata: '',
                    remarks:''
                },
                validating: false//是否验证状态
            },
			computed: {
				qrCode: function () {
					return '/api/qrcode?url=' + encodeURIComponent(location.origin + "/WeiXin/Login?guid=" + guid);
				}
            },
            methods: {
                test() {
                    this.$Modal.confirm({
                        title: 'Title',
                        content: '<p>The dialog box will be closed after 2 seconds</p>',
                        //loading: true,
                        onOk: () => {
                            //app.$Modal.remove();
                            //此处用message正常，用modal就会弹出马上消失
                            this.$Modal.info({
                                title: '消息', content: '', onOk: function () {
                                }
                            })
                            //除非使用settimeout
                            //setTimeout(() => {
                            //    app.$Modal.info({
                            //        title: '消息', onOk: function () {
                            //        }
                            //    })
                            //}, 300);
                        }
                    });
                },
                spin() {
                    this.$Spin.show();
                    setTimeout(() => {
                        this.$Spin.hide();
                    }, 3000);
                },
                doSubmit: function () {
                    this.validating = true;
                    var requireRules = {
                        "name": "请输入姓名",
                        "workLocation": "请输入律所",
                        "phoneNumber": "请输入手机",
                        "email": "请输入邮箱"
                    };
                    for (var rule in requireRules) {
                        if (!this.currentItem[rule]) {
                            this.$message.error(requireRules[rule]);
                            return false;
                        }
                    }
                    abp.message.confirm("确认提交?").done(function () {                        
                        func.runAsync(abp.services.app.newMiner.register(app.currentItem).done(function () {
                            abp.message.success("您的注册申请已提交，我们将会在X个工作日内审核，审核通过后会向您的邮箱发送通知，请注意查收！")
                                .done(function () {
                                    location.reload();
                                })
                        }));
                        
                        
                    })
                }
            }
		});
            //轮询请求
        var loopFunc = function () {
                //获取用户信息
            abp.services.app.weiXin.getLoginInfo(guid).done(function (data) {                    
                if (data) {
                    console.log(data);
                        app.currentItem.openid = data.openid;
                        app.currentItem.nickName = data.nickname;//用户昵称
                        app.currentItem.avata = data.headimgurl;//头像
                        //根据openid去寻找用户的账号信息
                        abp.services.app.user.getUserStatusByWeOpenId(data.openid).done(function (status) {
                            //status的四种值：1:正常登录，-1:被注销，2：未注册,3:审核中
                            //todo:根据不同状态进行不同操作
                            if (status == 1) {
                                var authModel = {
                                    authProvider: "Wechat",
                                    providerKey: data.openid,
                                    providerAccessCode: "",
                                    clientInfo: 'Browser'
                                };
                                //window.clearInterval(loop);
                                doExternalAuthentication(authModel);
                            } else if (status == 2) {
                                app.step = 2;
                            } else if (status == -1) {
                                var toemail = abp.setting.get("receiveMailAddress");
                                abp.message.info("您的账号已被冻结（注销），请联系<a style='color:blue' href='mailto:" + toemail+"'>管理员</a>");
                            } else if (status == 3) {
                                abp.message.info("您的账号还在审核中，请耐心等待");
                            }
                        })
						
                    } else {
                        doLoop();
					}


				});
			}
			loopFunc();
    function doLoop() {
        window.setTimeout(loopFunc, 1000);
    }
        //第三方登录接口
        function doExternalAuthentication(authModel) {
            console.log(authModel);
            abp.ui.setBusy(
               null,

                abp.ajax({
                    contentType: "application/x-www-form-urlencoded",
                    url: "/api/tokenauth/externalAuthenticate",
                    data: authModel,
                    success: function (data) {
                        console.log(data);
                        $.cookie("token", data.encryptedAccessToken, { path: '/' });
                        location.href = '/';

                    }
                })
            );
        }
</script>
}