
@using Abp.Extensions
@using Abp.MultiTenancy
@using Master;
@using Abp.Web.Security.AntiForgery
@using Master.Configuration;
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject WebCoreConfiguration WebCoreConfiguration
@model Master.Web.Models.Account.LoginFormViewModel
@{
    //登录页
	Layout = "_LayoutJianFa";
	//var softTitle = await SettingManager.GetSettingValueForApplicationAsync(AppSettingNames.SoftTitle);
	var softTitle = WebCoreConfiguration.SoftName;
	AbpAntiForgeryManager.SetCookie(Context);
}
    <div id="app">
       
        <div class="jianfa-ewm" >
            <div class="left"><img src="/assets/jianfa/ima/logo.png"></div>
            <div class="right">
                <!--登陆-01-->
                <div class="neirong-top" v-show="step==1">
                    <ul>
                        <li class="eiweima-a"><a @@click="app.step=2"><img :src="qrCode" width="170" height="170"></a></li>
                        <li>请使用微信扫码登陆</li>
                        <li class="explain">这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字</li>
                    </ul>
                </div>
                <!--登陆-02-->
                <div class="neirong-top" v-show="step==2">
                    <ul>
                        <li class="tips">提示说明</li>
                        <li class="explain">
                            这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占位文字这是假字说明注解占：<br><br>

                            1.位文字这是假字说明注解占位文字这是假字说明注；<br>
                            1.位文字这是假字说明注解占位文字这是假字说明注；<br>
                            1.位文字这是假字说明注解占位文字这是假字说明注；<br><br>

                            假字说明注解占位文字这是假字说明注；假字说明注解占位文字这是假字说明注；
                        </li>
                        <li>
                            <i1><a @@click="step=3" class="btn-submit">填写信息</a></i1>
                            <i2><a @@click="location.reload()" class="btn-cancel">取 消</a></i2>
                        </li>
                    </ul>
                </div>
                <!--登陆-03-->
                <div class="neirong-top" v-show="step==3">
                    <ul>
                        <li class="tips">填写个人信息</li>
                        <li class="explain">
                            <dl>
                                <dd>
                                    <i3><img :src="currentItem.avata" width="70" height="70"></i3>
                                </dd>
                                <dd>您的真实姓名<input type="text" class="i-text" v-model="currentItem.name" placeholder="请输入你的真实姓名" /></dd>
                                <dd>您当前所在律所全称<input type="text" class="i-text" v-model="currentItem.workLocation" placeholder="请输入你的律所" /></dd>
                                <dd>您的手机号码<input type="text" class="i-text" v-model="currentItem.phoneNumber" placeholder="请输入你的手机号码" /></dd>
                                @*<dd>您的邮箱<input type="text" class="i-text" v-model="currentItem.email" placeholder="请输入你的邮箱" /></dd>
                                <dd>您的留言<input type="text" class="i-text" v-model="currentItem.remarks" placeholder="" /></dd>*@
                            </dl>
                        </li>
                        <li>
                            
                            <i1><a @@click="doSubmit" class="btn-submit">提交申请</a></i1>
                            <i2><a @@click="step=2" class="btn-cancel">取 消</a></i2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--<button class="btn-submit"></button>-->
<!--footer-->
<footer><div class="ziti-a">2017-2020 | Copyright | 版权声明 | 简法二手房  ( 沪ICP备00000000号 )</div></footer>

@section scripts{
<script>
    $("body").addClass("index-bj");

    var guid = "@ViewBag.Guid";
		var app = new Vue({
            el: '#app',
            data: {
                step:1,//第一步
                status: 0,
                isCheck: false,
                currentItem: {
                    openid:'',
                    name: '',
                    nickName:'',
                    workLocation: '',
                    phoneNumber: '',
                    email:'',
                    avata: '',
                    remarks:''
                }
            },
			computed: {
				qrCode: function () {
					return '/api/qrcode?url=' + encodeURIComponent(location.origin + "/WeiXin/LoginCallback?guid=" + guid);
				}
            },
            methods: {
                test() {
                    this.$Modal.confirm({
                    title: 'Title',
                    content: '<p>The dialog box will be closed after 2 seconds</p>',
                    loading: true,
                    onOk: () => {
                        setTimeout(() => {
                            this.$Modal.remove();
                            this.$Modal.info({
                                title:  '消息', content: '',  onOk: function () {
                                }
                            })
                        }, 2000);
                    }
                });
                },
                doSubmit: function () {
                    //todo:数据验证
                    abp.message.confirm("确认提交?", '', true).done(function () {
                        abp.services.app.newMiner.register(app.currentItem).done(function () {
                            app.$Modal.remove();
                            abp.message.success("您的注册申请已提交，我们将会在X个工作日内审核，审核通过后会向您的邮箱发送通知，请注意查收！")
                                .done(function () {
                                    location.reload();
                            })
                        })
                        
                    })
                    //func.runAsync(abp.services.app.newMiner.register(this.currentItem).done(function () {
                        
                        
                    //}))
                }
            }
		});
            //轮询请求
        var loopFunc = function () {
                //获取用户信息
            abp.services.app.weiXin.getLoginInfo({abpHandleError:false}).done(function (data) {                    
                    if (data) {
                        app.currentItem.openid = data.openid;
                        app.currentItem.nickName = data.nickname;//用户昵称
                        app.currentItem.avata = data.headimgurl;//头像
                        //根据openid去寻找用户的账号信息
                        abp.services.app.user.getUserStatusByWeOpenId(openid).done(function (status) {
                            //status的四种值：1:正常登录，-1:被注销，2：未注册,3:审核中
                            //todo:根据不同状态进行不同操作
                            if (status == 1) {
                                var authModel = {
                                    authProvider: "Wechat",
                                    providerKey: openid,
                                    providerAccessCode: "",
                                    clientInfo: 'Browser'
                                };
                                //window.clearInterval(loop);
                                doExternalAuthentication(authModel);
                            } else if (status == 2) {
                                app.step = 2;
                            } else if (status == -1) {
                                abp.message.info("您的账号已被冻结（注销），请联系<a href='mailto:abc@163.com'>管理员</a>");
                                doLoop();
                            } else if (status == 3) {
                                abp.message.info("您的账号还在审核中，请耐心等待");
                                doLoop();
                            }
                        })
						
                    } else {
                        doLoop();
					}


				});
			}
			loopFunc();
    function doLoop() {
        window.setTimeout(loopFunc, 1000);
    }
        //第三方登录接口
        function doExternalAuthentication(authModel) {
            console.log(authModel);
            abp.ui.setBusy(
                $('body'),

                abp.ajax({
                    contentType: "application/x-www-form-urlencoded",
                    url: "/api/tokenauth/externalAuthenticate",
                    data: authModel,
                    success: function (data) {
                        console.log(data);
                        $.cookie("token", data.encryptedAccessToken, { path: '/' });
                        location.href = '/';

                    }
                })
            );
        }
</script>
}