body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:17px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u1083 {
  position:absolute;
  left:7px;
  top:22px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u1084 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:113px;
  top:142px;
  width:300px;
  height:170px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:32px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1090 {
  position:absolute;
  left:70px;
  top:40px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u1092 {
  position:absolute;
  left:373px;
  top:27px;
  width:50px;
  height:39px;
  font-size:36px;
  color:#FFFFFF;
}
#u1093 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:89px;
}
#u1094 {
  position:absolute;
  left:416px;
  top:234px;
  width:291px;
  height:89px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:36px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  position:absolute;
  left:102px;
  top:216px;
  width:140px;
  height:40px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:69px;
  top:255px;
  width:140px;
  height:40px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1100 {
  position:absolute;
  left:69px;
  top:341px;
  width:140px;
  height:40px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  position:absolute;
  left:81px;
  top:447px;
  width:140px;
  height:40px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:91px;
  top:457px;
  width:140px;
  height:40px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:52px;
  top:239px;
  width:300px;
  height:170px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  position:absolute;
  left:545px;
  top:190px;
  width:300px;
  height:170px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  position:absolute;
  left:140px;
  top:196px;
  width:43px;
  height:16px;
}
#u1111 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1082.a {
  position:absolute;
  left:7px;
  top:22px;
  width:33px;
  height:46px;
}
#u1083.a {
  top:27px;
  width:33px;
  height:36px;
}
#u1083_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u1084.a {
  top:-5px;
  width:29px;
}
#u1085.a {
  left:0px;
  top:65px;
  width:360px;
  height:114px;
}
#u1085_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086.a {
  top:49px;
  width:356px;
}
#u1087.a {
  width:360px;
  height:68px;
}
#u1087_img.a {
  width:360px;
  height:68px;
}
#u1088.a {
  top:26px;
  width:356px;
}
#u1089.a {
  position:absolute;
  left:51px;
  top:33px;
  width:91px;
  height:20px;
}
#u1090.a {
  left:51px;
  top:33px;
}
#u1090_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1091.a {
}
#u1092.a {
  left:310px;
  top:24px;
  width:42px;
  height:35px;
}
#u1092_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u1093.a {
  top:-13px;
  width:38px;
}
#u1094.a {
  left:102px;
  top:98px;
  width:156px;
  height:49px;
}
#u1094_img.a {
  width:156px;
  height:49px;
}
#u1095.a {
  top:16px;
  width:152px;
}
#u1096.a {
  left:71px;
  top:246px;
  width:219px;
  height:53px;
}
#u1096_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:53px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097.a {
  top:15px;
  width:215px;
}
#u1098.a {
  left:71px;
  top:337px;
  width:219px;
  height:53px;
}
#u1098_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:53px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099.a {
  top:15px;
  width:215px;
}
#u1100.a {
  left:71px;
  top:427px;
  width:219px;
  height:53px;
}
#u1100_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:53px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101.a {
  top:15px;
  width:215px;
}
#u1102.a {
  left:71px;
  top:520px;
  width:219px;
  height:53px;
}
#u1102_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:53px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103.a {
  top:15px;
  width:215px;
}
#u1104.a {
  left:71px;
  top:610px;
  width:219px;
  height:53px;
}
#u1104_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:53px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105.a {
  top:15px;
  width:215px;
}
#u1106.a {
  left:57px;
  top:234px;
  width:243px;
  height:437px;
}
#u1106_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:437px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107.a {
  top:210px;
  width:239px;
}
#u1108.a {
  left:8px;
  top:28px;
  width:33px;
  height:33px;
}
#u1108_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109.a {
  top:8px;
  width:29px;
}
#u1110.a {
  left:109px;
  top:194px;
  width:145px;
  height:24px;
}
#u1110_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111.a {
  width:145px;
}
