.ivu-spin-fix {
    background-color: rgba(0, 0, 0, 0.1);
}
[v-cloak] {
    display: none;
}
.top-modal, .top-modal .ivu-modal, .top-modal .ivu-modal-content, .top-modal .ivu-modal-body {
    height: 100%;
}