.ivu-spin-fix {
    background-color: rgba(0, 0, 0, 0.1);
}
[v-cloak] {
    display: none;
}
.top-modal, .top-modal .ivu-modal, .top-modal .ivu-modal-content, .top-modal .ivu-modal-body {
    height: 100%;
}
.ivu-page-item-active {
    background-color: #c69c6d;
    border-color:#c69c6d;
}
.jianfa-ewm.login .i-text {
    display: inline-block;
    width: 73%;
    text-align: left;
    padding-left: 5px;
}
.jianfa-ewm.login label.label-text {
    width: 25%;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}
.jianfa-jiagong .jiagong-content .bjli .bjdl {
    height: calc(100vh - 156px);
}
.index-daohang {
    width: calc(78vh + 60px);
}
    .index-daohang .dh-left, .index-daohang .dh-right {
        width: 25vh;
        height: 25vh;
        background-size: 25vh!important;
    }
    .index-daohang .dh-middle {
        width: 28vh;
        height: 28vh;
        background-size: 28vh!important;
    }
.style-pa-1 {
    position: relative;
     margin: 0; 
    left: 50%;
    transform: translate(-50%);
}
::-webkit-scrollbar {
    background-color: lightgray;
    width: 6px;
    height: 6px;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb {
    border-color: #e6e6e6;
    background: #e6e6e6;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0;
}
.jianfa-guandiancard .ny-guandiancard li dd.card-top span {
    display: inherit;
}
.ivu-menu-item-selected a{
    display:block;
}
.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
    padding: 0;
}
.ivu-menu-horizontal .ivu-menu-submenu{
    width:21%;
    text-align:center;
}