@using Master.Configuration;
@inject WebCoreConfiguration WebCoreConfiguration
@{
    Layout = "_LayoutJianFa";
    ViewData["Title"] = "简法二手房";
}
@section styles{
    <style>
        body {
            height: 100%;
        }
    </style>
}
<!--顶部-->
<div id="app">
    <div class="jianfa-intop">
        <div class="intop-logo">
            <div class="inlogo-pic"><img src="/assets/jianfa/ima/logo-ny.png" border="0"><span>案例工厂</span></div>
            <div class="inportrait-pic"><img :src="avata" border="0"></div>
        </div>
    </div>
    <div class="index-daohang">
        <a href="/Home/ViewCase"><div class="dh-left"></div></a>
        <a href="/Home/ViewPoint"><div class="dh-middle"></div></a>
        <a href="/Home/WorkBench"><div class="dh-right"></div></a>
    </div>
    <!--end-->
    <div class="footer-top"><img src="/assets/jianfa/ima/index-b-1.png"></div>
    <!--footer-->
    <com-footer></com-footer>
</div>


@section scripts{
    <script>
        $("body").addClass("index-bj-b");
        new Vue({
            el: '#app',
            data: {
                avata:'/assets/jianfa/ima/index-2.png'
            },
            mounted: function () {
                var that = this;
                abp.services.app.user.getById(abp.session.userId).done(function (data) {
                    that.avata = data.avata;
                })
            }
        });
    </script>

}}