@using Master.Configuration;
@inject WebCoreConfiguration WebCoreConfiguration
@{
    Layout = "_LayoutJianFa";
    ViewData["Title"] = "简法案例解读网";
}
@section styles{
    <link href="~/assets/css/home/home.css" rel="stylesheet" asp-append-version="true"/>
    <style>
        html {
            width: auto;
            height: auto;
            overflow: initial;
        }
        .anyou.current p {
            font-weight: bold;
            color: #754c24;
        }
    </style>
}
<!--顶部-->
<div id="app" v-cloak>
    <header>

        <img id="logo" src="~/assets/jianfa/ima/logo0.png" />
        <img id="Slogan" src="~/assets/images/home/Slogan.png" />
        @*<span class="title">专业律师搭配的判决书价值共享平台</span>*@
    </header>
    <div id="banner">
        <img src="~/assets/images/home/banner.jpg?v=191209" />
    </div>
    <nav>
        <ul class="nav-img-wrap">
            <li v-for="item in navImgs" :key="item.text" class="nav-img anyou" :class="{current:currentAnyou==item}" @@click="currentAnyou=currentAnyou!=item?item:null;reloadData();">
                @*<p class="icon_p">
                    <img :src="item.img" alt="Alternate Text" />
                </p>*@
                <p class="text_p">{{item.text}}</p>
            </li>
        </ul>
    </nav>
    <main>
        <div class="main-wrap">
            <div class="lawyer-wrap">
                <ul class="lawyer-logo-wrap">
                    <li class="lawyer-logo" @@click="currentLawyer=null;reloadData();">
                        <p class="lawyer-img_p">
                            <span>查看全部</span>
                        </p>
                        @*<p class="lawyer-name_p">ALL</p>*@
                    </li>
                    <li class="lawyer-logo" v-for="item in lawyers">
                        <el-dropdown placement="bottom-start">
                            <p class="lawyer-img_p" :style="{ 'background-image': 'url('+item.avata+')' }" @@click="currentLawyer=item;reloadData()">
                                <i class="only-watch">仅查看TA</i>
                            </p>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <div style="width:415px" class="drop-wrap">
                                        <p class="drop-title">{{item.name}}</p>
                                        <p><span class="drop-dsc">执业机构:</span>{{item.workLocation}} </p>
                                        <p> <span class="drop-dsc">擅长领域:</span>{{item.anYou}} </p>
                                        <p><span class="drop-dsc">执业年限：</span>{{item.workYear}}年 </p>
                                        <p><span class="drop-dsc">联系方式:</span>{{item.phoneNumber}} </p>
                                    </div>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        @*<p class="lawyer-name_p">{{item.name}}</p>*@
                    </li>
                    <li class="lawyer-logo"  @@click="qrcodeVisible=true">
                        <p class="lawyer-img_p lawyer-more">
                            <span>更多律师</span>
                        </p>
                        @*<p class="lawyer-name_p">MORE</p>*@
                    </li>
                </ul>
                <div class="viewcase-list-wrap">
                    <dl class="viewcase-list" id="scrollWrapper">
                        <dd class="view-case" v-for="item in items" :key="item.id">
                            <i1>
                                <el-dropdown placement="bottom-start">
                                    <img :src="item.avata" v-err-img class="lawyer-avata">
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item>
                                            <div style="width:415px" class="drop-wrap">
                                                <p class="drop-title">{{item.creatorName}}</p>
                                                <p><span class="drop-dsc">执业机构:</span>{{item.workLocation}} </p>
                                                <p> <span class="drop-dsc">擅长领域:</span>{{item.creatorAnYou}} </p>
                                                <p><span class="drop-dsc">执业年限：</span>{{item.workYear}} </p>
                                                <p><span class="drop-dsc">联系方式:</span>{{item.phoneNumber}}年 </p>
                                            </div>
                                        </el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <div class="viewcase-title-wrap">
                                    <p style="text-align:right">&nbsp;&nbsp;
                                        <a class="caseanyou" style="float:left">{{item.anYou||''}}</a>
                                    <a class="sourcesn" @@click="getCaseInfo(item.caseSourceId)">{{item.sourceSN||''}}</a></p>
                                    <p class="viewcase-title" @@click="preview(item);" style="cursor:pointer">{{item.title}}</p>
                                </div>
                            </i1>
                            <div class="viewcase-detail">
                                <div class="introduction" >
                                    {{item.introduction}}
                                </div>
                                <div class="bottom-msg">
                                    <span>发布时间：&nbsp;{{item.publishDate}}</span>
                                    <span>阅读量&nbsp;{{item.readNumber}}</span>
                                </div>
                            </div>
                        </dd>
                        <dd v-if="loading" style="text-align:center;line-height:2;">加载中...</dd>
                        <dd v-if="noMore" style="text-align:center;line-height:2;">今天推荐的案例都被您看光啦，棒棒哒！推荐案例每周更新，记得常来哦</dd>
                    </dl>
                </div>
            </div>
            <aside>
                @*<h3>简法，让案例说话</h3>*@
                <img src="~/assets/images/home/jianfa-aside.png" alt="简法，让案例说话" style="width:100%;"/>
                <div class="zhuce-wrap" style="margin-top:90px;">
                    <p class="zhuce-p1">注册成为共创律师</p>
                    <p class="zhuce-p2">案例展示&nbsp;|&nbsp;精品检索&nbsp;|&nbsp;法院观点</p>
                </div>
                <img class="qr-code" :src="qrCode" />
                <div class="zhaomu-wrap">
                    <span class="dashed"></span>
                    <span>招募共创律师</span>
                    <span class="dashed"></span>
                </div>
                <div class="zhaomu-msg">
                    <p>执业5年以上，乐于分享成功经验；</p>
                    <p style="margin:10px 0;">认同专业化的执业理念；</p>
                    <p>在相关领域有10件以上经典案例；</p>
                </div>
            </aside>
            @*<aside>
                <div class="qrcode-wrap">
                    <img src="/assets/images/home/jianfa.png" class="jianfa-img">
                    <h3>让案例说话</h3>
                    <div class="h3-bg"></div>
                    <p class="duanli">读案例&emsp;找律师</p>
                    <img class="link" src="/assets/images/home/link.png" @@click="qrcodeVisible=true" />
                    <p class="jieduzhe">成为案例的解读者与分享者</p>
                    <p class="slogan">SLOGAN假字假字，SLOGAN假字假字</p>
                    <img class="qr-code" :src="qrCode" />
                </div>
                <div class="recruit-wrap">
                    <p class="recruit-wrap-title">招募共创律师</p>
                    <div class="recruit-wrap-list">
                        <p>1.执业5年以上，乐于分享成功经验</p>
                        <p>2.认同专业化的执业理念</p>
                        <p>3.在相关领域有10件以上经典案例</p>
                    </div>
                </div>
            </aside>*@
        </div>
    </main>
    <!--footer-->
    <com-footer></com-footer>
    @await Html.PartialAsync("PDFFrame")
    <el-dialog :visible.sync="qrcodeVisible" width="290px" style="text-align:center;">
        <img class="qr-code" :src="qrCode" style="width:250px;height:250px" />
    </el-dialog>
    <el-dialog :visible.sync="previewVisible" width="700px" style="text-align:center;" lock-scroll="true" append-to-body top="calc(50vh - 360px)">
        <iframe :src="'/CaseSource/InitialView?data='+currentItem.caseSourceId" frameborder="0" :style="{width:'100%',height:'620px'}"></iframe>
    </el-dialog>
</div>


@section scripts{
    <script>
        function refreshLogin(){
            abp.services.app.session.refreshWechatLoginId().done(function(guid){
                app.guid = guid;
                window.setTimeout(refreshLogin, 5*1000*60);
            })
        }
    </script>
    <script type="text/babel">
        (function () {
            let imageIsExist = function (url) {
                return new Promise((resolve) => {
                    var img = new Image();
                    img.onload = function () {
                        if (this.complete == true) {
                            resolve(true);
                            img = null;
                        }
                    }
                    img.onerror = function () {
                        resolve(false);
                        img = null;
                    }
                    img.src = url;
                })
            };
            // 单独作用于应用模块的管理
            // 传的是错误的图片
            Vue.directive('err-img', async function (el, binding) {
                let imgURL = binding.value || '/assets/images/home/jianfa.png?w=100';//获取图片地址
                let realURL = el.src;
                if (imgURL) {
                    let exist = await imageIsExist(realURL);
                    if (!exist) {
                        el.setAttribute('src', imgURL);
                    }
                }
            });
        })();
        window.app = new Vue({
            el: '#app',
            data: {
                navImgs: [
                    { img: '/assets/images/home/房屋买卖纠纷ICON.png', text: '指导案例' },
                    { img: '/assets/images/home/建筑工程纠纷ICON.png', text: '存量房买卖' },
                    { img: '/assets/images/home/离婚财产分割ICON.png', text: '商品房买卖' },
                    { img: '/assets/images/home/分家析产与确权ICON.png', text: '所有权确认' },
                    { img: '/assets/images/home/借贷及担保纠纷ICON.png', text: '离婚纠纷' },
                    { img: '/assets/images/home/继承纠纷ICON.png', text: '继承纠纷' },
                ],
                guid:"",
                lawyers: [],
                noMore: false,
                loading: true,
                currentPage: 1,
                pagesize: 10,
                items: [],
                totalCount: 0,
                currentItem: {},
                currentLawyer: null,
                currentAnyou: null,
                moda12: false,
                avataBg: { 'background-image': 'url("/assets/images/home/组 19.png")' },
                qrcodeVisible: false,
                previewVisible: false
            },
            computed: {
                qrCode: function () {
                    //todo
                    
                    return '/api/qrcode?url=' + encodeURIComponent(location.origin + "/WeiXin/Login?guid=" + this.guid);
                },
                where: function () {
                    var where = 'sort < 999999';
                    if (this.currentAnyou) {
                        where += ' and (CaseSource.AnYou.DisplayName="' + this.currentAnyou.text + '" or CaseSource.AnYou.Name="' + this.currentAnyou.text + '")';
                    }
                    if (this.currentLawyer) {
                        where += ' and creatorUserId=' + this.currentLawyer.id;
                    }
                    return where;
                }
            },
            methods: {
                loadLawyer: function () {
                    var that = this;
                    var where = '1=1';
                    if (this.currentAnyou) {
                        where += ' and Property[AnYou].Contains("' + this.currentAnyou.text + '")';
                    }
                    func.runAsync(abp.services.app.lawer.getPageResult({ where: where, page: 1, limit: 7 }).done(function (res) {
                        that.lawyers = res.data;
                    }))

                },
                getCaseInfo: function (caseSourceId) {
                    var that = this;
                    func.runAsync(abp.services.app.workbench.getCaseInfo(caseSourceId).done(function (res) {
                        that.currentItem = res.source;
                        that.moda12 = true;
                    }))
                },
                preview: function (item) {
                    this.currentItem = item;
                    this.previewVisible = true;
                },
                loadSource: function () {
                    var that = this;
                    this.noMore = false;
                    this.loading = true;
                    func.runAsync(abp.services.app.viewCase.getPageResult({ page: this.currentPage, limit: this.pagesize, where: this.where }).done(function (res) {
                        that.loading = false;
                        if (res.data.length == 0) {
                            that.$Message.info('已经没有数据了');
                            that.noMore = true;
                        }
                        that.totalCount = res.count;
                        that.items = that.items.concat(res.data);
                        $("#app").show();
                    }));
                },
                load: function () {
                    //debugger
                    this.loading = true;
                },
                reloadData: function () {
                    //用于重新加载数据
                    this.items = [];
                    this.currentPage = 1;
                    this.loadSource();
                },
                scrollSource: function () {
                    function lowEnough(){
                        var pageHeight = Math.max(document.body.scrollHeight,document.body.offsetHeight);
                        var viewportHeight = window.innerHeight || 
                            document.documentElement.clientHeight ||
                            document.body.clientHeight || 0;
                        var scrollHeight = window.pageYOffset ||
                            document.documentElement.scrollTop ||
                            document.body.scrollTop || 0;
                        return pageHeight - viewportHeight - scrollHeight < 20;  // 通过 真实内容高度 - 视窗高度 - 上面隐藏的高度 < 20，作为加载的触发条件
                    }
                    $(window).on("scroll",function () {
                        
                        @*//var height = document.getElementById("divData").offsetHeight;//250
                        //var height=$("#divData").height();//250
                        var scrollHeight = document.body.scrollHeight;//251
                        var scrollTop = window.pageYOffset;//0-18
                        var clientHeight = document.body.clientHeight;//233*@

                        if (lowEnough() && !app.loading && !app.noMore) {
                            //滚动条滚到最底部
                            app.currentPage++;
                            app.loadSource();
                        }
                    })
                    @*document.body.onscroll = function () {
                        
                        //var height = document.getElementById("divData").offsetHeight;//250
                        //var height=$("#divData").height();//250
                        var scrollHeight = document.body.scrollHeight;//251
                        var scrollTop = window.pageYOffset;//0-18
                        var clientHeight = document.body.clientHeight;//233

                        if (lowEnough() && !app.loading && !app.noMore) {
                            //滚动条滚到最底部
                            app.currentPage++;
                            app.loadSource();
                        }
                    };*@
                }
            },
            mounted: function () {
                this.loadSource();
                this.loadLawyer();
                this.scrollSource();
                $.cookie("openid",'');
                $.cookie("nickName",'');
                $.cookie("avata",'');
                refreshLogin();
            }
        });
         //轮询请求
        var loopFunc = function () {
                //获取用户信息
            if(!app.guid){doLoop();return;}
            abp.services.app.weiXin.getLoginInfo(app.guid).done(function (data) {                    
                if (data) {
                    console.log(data);
                        app.currentItem.openid = data.openid;
                        app.currentItem.nickName = data.nickname;//用户昵称
                        app.currentItem.avata = data.headimgurl;//头像
                        $.cookie("openid",data.openid);
                        $.cookie("nickName",data.nickname);
                        $.cookie("avata",data.headimgurl);
                        //根据openid去寻找用户的账号信息
                        abp.services.app.user.getUserStatusByWeOpenId(data.openid).done(function (status) {
                            //status的四种值：1:正常登录，-1:被注销，2：未注册,3:审核中
                            //todo:根据不同状态进行不同操作
                            if (status == 1) {
                                var authModel = {
                                    authProvider: "Wechat",
                                    providerKey: data.openid,
                                    providerAccessCode: "",
                                    clientInfo: 'Browser'
                                };
                                //window.clearInterval(loop);
                                doExternalAuthentication(authModel);
                            } else if (status == 2) {
                                app.step = 2;
                                location.href='/Account/Login?step=2';
                            } else if (status == -1) {
                                var toemail = abp.setting.get("receiveMailAddress");
                                abp.message.info("您当前已被注销，不可进入，请联系<a style='color:blue' href='mailto:" + toemail+"'>管理员</a>询问具体原因");
                            } else if (status == 3) {
                                abp.message.info("您的账号还在审核中，请耐心等待");
                            }
                        })
						
                    } else {
                        doLoop();
					}


				});
			}
			loopFunc();
    function doLoop() {
        window.setTimeout(loopFunc, 1000);
    }
        //第三方登录接口
        function doExternalAuthentication(authModel) {
            console.log(authModel);
            abp.ui.setBusy(
               null,

                abp.ajax({
                    contentType: "application/x-www-form-urlencoded",
                    url: "/api/tokenauth/externalAuthenticate",
                    data: authModel,
                    success: function (data) {
                        console.log(data);
                        $.cookie("token", data.encryptedAccessToken, { path: '/' });
                        location.href = '/Home/Main';

                    }
                })
            );
        }
    </script>

}