
@{
    Layout = "_LayoutJianFa";
    ViewData["Title"] = "我的案例";
}

<div id="app">
    <!--顶部-->
    <com-header active-name="我的案例"></com-header>
    <!--案源库-01-->
    <div class="jianfa-content">
        <div class="ny-content">
            <ul>
                <li>
                    <dl>
                        <dd>当前位置：案例工厂 > 首页 > 工作台 > 我的案例 ：</dd>
                        <!--<dd class="xchu">上海<span>×</span></dd>
            <dd class="xchu">房屋买卖纠纷<span>×</span></dd>-->
                    </dl>
                </li>
                <li>
                    <dl class="xian">
                        <dd class="style-bf-40">
                            <template>
                                <i-select placeholder="请选择专题" v-model="wherePart.subjectId" size="small">
                                    <i-option v-for="item in subjects" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                </i-select>
                            </template>
                        </dd>
                        <dd class="style-bf-20">
                            <template>
                                <i-select placeholder="请选择状态" v-model="wherePart.caseStatus" size="small">
                                    <i-option v-for="item in caseStatuses" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                </i-select>
                            </template>
                        </dd>
                        <dd class="style-bf-30">
                            <template>
                                <i-input v-model="keyword" size="small" placeholder="请输入关键词等信息..." />
                            </template>
                        </dd>
                        <dd class="style-bf-10"><Button class="btn-search" @@click="loadSource">筛选</Button></dd>
                    </dl>
                </li>
                <li class="on">您已完成有 <span class="shuzi">{{summary.caseCount}}</span> 个案例，其中包含精品<span class="shuzi">{{summary.caseFineCount}}</span> 个、案例卡 <span class="shuzi">{{summary.caseCardCount}}</span> 个</li>
                <li v-show="items.length==0">
                    <h1 style="font-size:24px;text-align:center;margin:30px">没有符合您查询条件的案例哦，请减少查询条件再试试看，或联系管理员。</h1>
                </li>
                <li v-show="items.length>0">
                    <div class="li-table table-stripe">
                        <table width="100%">
                            <tr>
                                <th width="80">目前状态</th>
                                <th width="220">案由</th>
                                <th width="220">案号	</th>
                                <th width="220">专题</th>
                                <th width="50">备注</th>
                                <th>发布时间</th>
                                <th width="80">预览量</th>
                                <th width="50">操作</th>
                            </tr>
                            <tr v-for="(item,index) in items">
                                <td class="on">
                                    <template>
                                        <i-switch :value="item.caseStatus==1" @@on-change="changeStatus(item,$event)"/>
                                    </template>
                                </td>
                                <td class="on">{{item.anYou}}</td>
                                <td class="on"><a @@click="moda12 = true">{{item.sourceSN}}</a></td>
                                <td class="on">
                                    <template>
                                        <i-select placeholder="请选择专题" v-model="item.subjectId" size="small" @@on-change="changeSubject(item,$event)">
                                            <i-option v-for="item in subjects" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="on">
                                    <Poptip trigger="hover">
                                        <img src="/assets/jianfa/ima/jia-icon-1.png">
                                        <div slot="content">
                                            {{item.remarks}}
                                        </div>
                                    </Poptip>
                                    @*<a @@click="modal1 = true"><img src="/assets/jianfa/ima/jia-icon-1.png"></a>*@
                                </td>
                                <td class="on">{{item.publishDate}}</td>
                                <td class="on">{{item.readNumber}}</td>
                                <td class="on"><a :href="'/Home/Process?EncrypedId='+item.encrypedId"><img src="/assets/jianfa/ima/jia-icon-2.png"></a></td>
                            </tr>

                            <tr>
                                <td class="on">
                                    <template>
                                        <i-switch :value="true" />
                                    </template>
                                </td>
                                <td class="on">房屋买卖纠纷（二手）</td>
                                <td class="on"><a @@click="moda12 = true">(2016)沪 0115 民初 67704 号</a></td>
                                <td class="on">
                                    <template>
                                        <i-select placeholder="请选择专题" v-model="model3" size="small">
                                            <i-option v-for="item in subjects" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="on"><a @@click="modal1 = true"><img src="ima/jia-icon-1.png"></a></td>
                                <td class="on">2016/04/10</td>
                                <td class="on">888</td>
                                <td class="on"><a href=""><img src="ima/jia-icon-2.png"></a></td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <Page :total="totalCount" :current="currentPage" show-total :page-size="pagesize" :page-size-opts="[10, 20, 50, 100]" show-sizer @@on-change="currentPage=$event" @@on-page-size-change="pagesize=$event" v-show="items.length>0" />
    </div>
    <!--end-->
    <!--添加1-->
    <Modal width="428px" v-model="modal1" class-name="center-modal" :mask-closable="false">
        <div class="neirong-eject">
            <ul>
                <li class="bot-on-b"><p>是否备注</p></li>
            </ul>
        </div>
    </Modal>
    <!--添加-->
    <Modal width="630px" v-model="moda12" class-name="top-modal" :mask-closable="false" title="(2016)沪 0115 民初 67704 号">
        <div class="neirong-eject">
            <ul>
                <li><img src="ima/anhao-1.jpg"></li>
            </ul>
        </div>
        <div slot="footer">&nbsp;</div>
        <!--
        <div slot="footer">
        <Button class="btn-footer" @@click="submit">确认</Button><Button class="btn-footer" @@click="submit">取消</Button>
        </div>-->
    </Modal>
    <!--end-->
    <!--footer-->
    <com-footer></com-footer>
    <!--end-->
</div>

@section scripts{
    <script>
        var app= new Vue({
            el: '#app',
            data: {
                wherePart: {
                    subjectId: null,
                    caseStatus:null,
                },
                totalCount: 0,//判例总数
                currentPage: 1,
                pagesize: 10,
                keyword: '',
                items: [],
                currentItem: {},
                modal1: false,
                moda12: false,
                subjects: [],//专题
                caseStatuses: [{ id: 1, displayName: '展示中' }, { id: 2, displayName: '退回' }, {id:3,displayName:'下架'}],
                model2: '',
                model3: '',
                model4: '',
                summary: {
                    caseCount: 0,
                    caseCardCount: 0,
                    caseFineCount:0
                }
                //end//
            },
            watch: {
                currentPage: function () {
                    this.loadSource();
                },
                pagesize: function () {
                    //this.currentPage = 1;
                    this.loadSource();
                }
            },
            computed: {
                where: function () {
                    var where = '1=1';
                    for (var i in this.wherePart) {
                        var data = this.wherePart[i];
                        if (!data) continue;
                        where += ` and ${i}=${data}`;

                    }
                    return where;
                    //return `anyouid=${anyouid} and cityId=${cityId} and (court1Id=${courtId} or court2id=${courtId})`

                }
            },
            methods: {
                loadSource() {
                    var that = this;
                    func.runAsync(abp.services.app.myCase.getPageResult({ page: this.currentPage, limit: this.pagesize, where: this.where, keyword: this.keyword }).done((res) => {
                        that.items = res.data;
                        //that.items = [{ id: 1, subjectId: null, remarks: 'bb', caseStatus: 1 }]
                        that.totalCount = res.count;
                    }));
                    abp.services.app.myCase.getSummary().done(function (data) {
                        that.summary = data;
                    })
                },
                //上下架
                changeStatus(item, status) {
                    var funcProxcy = status ? abp.services.app.myCase.unFreeze : abp.services.app.myCase.freeze;
                    func.runAsync(funcProxcy(item.id).done(function () {
                        app.$Message.success("提交成功");
                    }))
                },
                //设置专题
                changeSubject(item, subjectId) {
                    func.runAsync(abp.services.app.myCase.setSubject(item.id, subjectId).done(function () {
                        app.$Message.success("提交成功");
                    }))
                }
            },
            mounted: function () {
                var that = this;
                //加载专题数据
                abp.services.app.type.getSubjects().done(function (data) {
                    that.subjects = data;
                })
                //加载案例数据
                this.loadSource();
            }
            //弹出1//
            //methods: {
            //submit () {
            //this.modal1 = false;
            // }
            //},
            //

        })


        ////请求当前用户所有案例
        //abp.services.app.myCase.getPageResult().done(function (data) {
            
        //})
        ////获取用户汇总值
        //abp.services.app.myCase.getSummary();
        ////设置案例专题
        //abp.servcies.app.myCase.setSubject(caseInitialId, subjectId);
        ////下架
        //abp.services.app.myCase.freeze(caseInitialId);
        ////上架
        //abp.services.app.myCase.unFreeze(caseInitialId);
    </script>
    }