@using Master.Configuration;
@inject WebCoreConfiguration WebCoreConfiguration
@{
    Layout = "_LayoutJianFa";
    ViewData["Title"] = "加工页";
}


<div id="app">
    <!--顶部-->
    <com-header></com-header>
    <!--案源库-01-->
    <div class="jianfa-content">
        <div class="ny-content">
            <ul>
                <li>
                    <dl class="xian">
                        <dd>当前位置：案例工厂 > 工作台 > 加工页：</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--end-->
    <!--加工页-->
    <div class="jianfa-jiagong">
        <div class="jiagong-content">
            <div class="bjul">
                <div class="bjli style-chaal-55">
                    <div class="bjdl">
                        <div class="bjdd">
                            <img src="~/assets/jianfa/ima/anhao-1.jpg" />
                        </div>
                    </div>
                </div>

                <div class="bjli on style-chaal-45">
                    <div class="bjdl on">
                        <template>
                            <Tabs size="small" type="card">
                                <Tab-Pane label="初加工">
                                    <div class="bqian">

                                        <div class="bjdd on">
                                            <i5 class="fleft style-chaal-50">{{source.sourceSN}}</i5>
                                            <i7 class="fright tright style-chaal-50">{{source.anYou}}</i7>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-20-w">一审法院：</div>
                                            <div class="fleft style-chaal-80-w">{{source.court1}}</div>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-20-w">二审法院：</div>
                                            <div class="fleft style-chaal-80-w">{{source.court2}}</div>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-20-w">审判组织：</div>
                                            <div class="fleft style-chaal-80-w">{{trialPeople}}</div>
                                        </div>

                                        <div class="bjdd on xian-1">
                                            <div class="fleft style-chaal-20-w">代理律师：</div>
                                            <div class="fleft style-chaal-80-w">
                                                {{lawyerFirms}}
                                            </div>
                                            <div class="fleft style-chaal-100-w"><a href="">报告错误</a></div>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-33-b" v-for="(item,index) in getSelects('案由')">
                                                <template>
                                                    <i-select :placeholder="'请选择'+item.displayName" v-model="selectValues['案由'][index]"  @@on-change="changeInitialSelect(item,$event)" :clearable="true" :multiple="item.enableMultiSelect">
                                                        <i-option v-for="opt in getOptions(item)" :value="opt.id"
                                                                  :key="opt.id">{{ opt.displayName }}</i-option>
                                                    </i-select>
                                                </template>
                                            </div>
                                            @*<div class="fleft style-chaal-33-b">
            <template>
                <i-select placeholder="请选择纠纷类型" v-model="model4" :clearable="true">
                    <i-option v-for="item in jfleix" :value="item.id"
                              :key="item.id">{{ item.displayName }}</i-option>
                </i-select>
            </template>
        </div>
        <div class="fleft style-chaal-33-b">
            <template>
                <i-select placeholder="请选择纠纷原因" v-model="model5" :multiple="true">
                    <i-option v-for="item in jfyuany" :value="item.id"
                              :key="item.id">{{ item.displayName }}</i-option>
                </i-select>
            </template>
        </div>
        <div class="fleft style-chaal-33">
            <template>
                <i-select placeholder="请选择判决结果" v-model="model6" :clearable="true">
                    <i-option v-for="item in pjjieg" :value="item.id"
                              :key="item.id">{{ item.displayName }}</i-option>
                </i-select>
            </template>
        </div>*@
                                        </div>

                                        @*<div class="bjdd on xian-2">
                                            <div class="xuanzeStyle ">
                                                <div class="title-bz">添加关键词：</div>
                                                <template v-for="" >
                                                    <input type="checkbox" id="bq1" v-model=""/>
                                                    <label for="bq1">关键词</label>

                                                </template>
                                            </div>
                                        </div>
                                        <div class="bjdd on">
                                            <div class="xuanzeStyle ">
                                                <div class="title-bz">添加标签词：</div>
                                                <input type="checkbox" id="bq1" /><label for="bq1">标签</label>
                                                <input type="checkbox" id="bq2" /><label for="bq2">标签</label>
                                                <input type="checkbox" id="bq3" checked /><label for="bq3">标签</label>
                                                <input type="checkbox" id="bq4" /><label for="bq4">标签</label>
                                                <input type="checkbox" id="bq5" /><label for="bq5">标签</label>
                                                <input type="checkbox" id="bq6" checked /><label for="bq6">标签</label>
                                                <input type="checkbox" id="bq7" /><label for="bq7">标签</label>
                                                <input type="checkbox" id="bq8" /><label for="bq8">标签</label>
                                                <input type="checkbox" id="bq9" /><label for="bq9">标签</label>
                                            </div>
                                        </div>*@

                                        <div class="bjdd on">
                                            <div class="fleft xian-1 style-chaal-100">
                                                <template>
                                                    <i-select placeholder="请选择专题" v-model="caseInitialDto.subjectId">
                                                        <i-option v-for="item in subjects" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                                    </i-select>
                                                </template>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bt>
                                                <i8 class="style-chaal-20">案例聚焦</i8>
                                            </bt>
                                            <div class="fleft style-chaal-100">
                                                <textarea name=""
                                                          class="textarea" v-model="caseInitialDto.title"></textarea>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bt>
                                                <i8 class="style-chaal-20">案例概述</i8>
                                            </bt>
                                            <div class="fleft style-chaal-100">
                                                <textarea name=""
                                                          class="textarea-sp" v-model="caseInitialDto.introduction"></textarea>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bt>
                                                <i8 class="style-chaal-20">诉请及判决</i8>
                                            </bt>
                                            <div class="fleft style-chaal-42">
                                                <textarea name=""
                                                          class="textarea-sp" v-model="caseInitialDto.judgeInfo.judgeContent"></textarea>
                                            </div>
                                            <i5c class="style-chaal-16-h-b"><span class="h50">50%</span></i5c>
                                            <!--调节h50 h60.....-->
                                            <div class="fleft style-chaal-42">
                                                <textarea name=""
                                                          class="textarea-sp" v-model="caseInitialDto.judgeInfo.judgeResult">判决结果：全部驳回</textarea>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bf>
                                                <i9 class="fright">反诉判决</i9>
                                            </bf>
                                            <div class="fleft style-chaal-42">
                                                <textarea name=""
                                                          class="textarea-sp" v-model="caseInitialDto.judgeInfo.reverseJudgeContent"></textarea>
                                            </div>
                                            <i5c class="style-chaal-16-h-b"><span class="h50">50%</span></i5c>
                                            <!--调节h50 h60.....-->
                                            <div class="fleft style-chaal-42">
                                                <textarea name=""
                                                          class="textarea-sp" v-model="caseInitialDto.judgeInfo.reverseJudgeResult"></textarea>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bt>
                                                <i8 class="style-chaal-20">法律法规</i8>
                                            </bt>
                                            <div class="fleft style-chaal-100">
                                                <textarea name=""
                                                          class="textarea" v-model="caseInitialDto.law"></textarea>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bt>
                                                <i8 class="style-chaal-20">经验分享</i8>
                                            </bt>
                                            <div class="fleft style-chaal-100">
                                                <textarea name="" class="textarea" v-model="caseInitialDto.experience"></textarea>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bt>
                                                <i8 class="style-chaal-20">简法律师说</i8>
                                            </bt>
                                            <div class="fleft style-chaal-100">
                                                <textarea name="" class="textarea" v-model="caseInitialDto.lawyerOpinion"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </Tab-Pane>
                                <Tab-Pane label="精加工">
                                    <div class="bqian">空</div>
                                </Tab-Pane>
                                <Tab-Pane label="案例卡">
                                    <div class="bqian">
                                        @*<div class="bjdd on">
                                            <i5 class="fleft style-chaal-50">{{source.sourceSN}}</i5>
                                            <i7 class="fright tright style-chaal-50">{{source.anYou}}</i7>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-20-w">一审法院：</div>
                                            <div class="fleft style-chaal-80-w">{{source.court1}}</div>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-20-w">二审法院：</div>
                                            <div class="fleft style-chaal-80-w">{{source.court2}}</div>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-20-w">审判组织：</div>
                                            <div class="fleft style-chaal-80-w">{{trialPeople}}</div>
                                        </div>

                                        <div class="bjdd on xian-1">
                                            <div class="fleft style-chaal-20-w">代理律师：</div>
                                            <div class="fleft style-chaal-80-w">
                                                {{lawyerFirms}}
                                            </div>
                                            <div class="fleft style-chaal-100-w"><a href="">报告错误</a></div>
                                        </div>

                                        <div class="bjdd on">
                                            <div class="fleft style-chaal-33-b">
                                                <template>
                                                    <i-select placeholder="请选择案由" v-model="part.anyou">
                                                        <i-option v-for="item in anYous" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                                    </i-select>
                                                </template>
                                            </div>
                                            <div class="fleft style-chaal-33-b">
                                                <template>
                                                    <i-select placeholder="请选择城市" v-model="part.city">
                                                        <i-option v-for="item in cities" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                                    </i-select>
                                                </template>
                                            </div>
                                            <div class="fleft style-chaal-33">
                                                <template>
                                                    <i-select placeholder="请选择法院" v-model="part.court">
                                                        <i-option v-if="filterCourtByCity.length==0" disabled>请先选择城市</i-option>
                                                        <i-option v-for="item in filterCourtByCity" :value="item.id" :key="item.id" v-else>{{ item.displayName }}</i-option>
                                                    </i-select>
                                                </template>
                                            </div>
                                        </div>

                                        <div class="bjdd on xian-1">
                                            <div class="xuanzeStyle ">
                                                <div class="title-bz">添加关键词：</div>
                                                <input type="checkbox" id="bq1" /><label for="bq1">关键词</label>
                                                <input type="checkbox" id="bq2" checked /><label for="bq2">关键词</label>
                                                <input type="checkbox" id="bq3" /><label for="bq3">关键词</label>
                                                <input type="checkbox" id="bq4" /><label for="bq4">关键词</label>
                                                <input type="checkbox" id="bq5" /><label for="bq5">关键词</label>
                                                <input type="checkbox" id="bq6" /><label for="bq6">关键词</label>
                                                <input type="checkbox" id="bq7" /><label for="bq7">关键词</label>
                                                <input type="checkbox" id="bq8" /><label for="bq8">关键词</label>
                                                <input type="checkbox" id="bq9" /><label for="bq9">关键词</label>
                                            </div>
                                        </div>*@

                                        <div class="bjdd on">
                                            <bm class="style-pa-20">
                                                <i8 class="style-chaal-20">案例卡正面</i8>
                                            </bm>
                                            <div class="style-pa-1">
                                                <div class="jianfa-guandiancard">
                                                    <div class="ny-guandiancard">
                                                        <!--状态2-->
                                                        <ul>
                                                            <li>
                                                                <dl>
                                                                    <dd class="card-top">
                                                                        <textarea name=""
                                                                                  class="textarea-k">
律师在代理限购状态下的买方，因为无法过户，卖方起诉解除合同的类似案件时，律师要尽量提醒当事人，指定近亲属作为买受人。要举证房屋用于自住，排除被法院认定为炒房、投资、转售获利的诉讼风险。</textarea>
                                                                    </dd>
                                                                    <dd class="card-zhong">
                                                                        {{source.sourceSN}}
                                                                    </dd>
                                                                    <dd class="card-bottom">{{source.court1}}</dd>
                                                                </dl>
                                                            </li>
                                                        </ul>
                                                        <!--end-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="bjdd on">
                                            <bm class="style-pa-20">
                                                <i8 class="style-chaal-20">案例卡背面</i8>
                                            </bm>
                                            <div class="style-pa-1">
                                                <div class="jianfa-guandiancard">
                                                    <div class="ny-guandiancard">
                                                        <!--状态2-->
                                                        <ul>
                                                            <li>
                                                                <dl>
                                                                    <dd class="oncard-top">
                                                                        <textarea name="" class="textarea-k">
本院认为，……现系争房屋已由被告装修入住数年，原告也已取得被告支付的大部分房款，在被告同意支付剩余房屋尾款的情况下，原告的合同目的已然能够实现。根据合同约定原告应协助被告办理系争房屋的过户手续，此系原告的合同义务而非原告的合同目的，原告以被告限购致使无法办理过户手续为由称其合同目的无法实现，与事实不符，本院不予认同。</textarea>
                                                                        <p>郑卫青、吴 丹、杨斯空<br>2018年4月10日</p>
                                                                    </dd>
                                                                </dl>
                                                            </li>
                                                        </ul>
                                                        <!--end-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="bjdd">
                                            <div class="imghov">
                                                <i11><a href=""><img src="ima/jia-icon-2c.png"></a></i11>
                                                <i11><a href=""><img src="ima/jia-icon-2d.png"></a></i11>
                                            </div>
                                        </div>


                                    </div>
                                </Tab-Pane>
                            </Tabs>
                        </template>


                        <div class="bqian">
                            <div class="bjdd on">
                                <bt>
                                    <i8 class="style-chaal-20">添加备注</i8>
                                </bt>
                                <div class="fleft style-chaal-100">
                                    <textarea name="" class="textarea" placeholder="这里添加备注，备注内容仅仅自己可见…"></textarea>
                                </div>
                            </div>
                            <div class="bjdd">
                                <a href="" class="btn-submit-jgy">发布</a><a href="" class="btn-submit-jgy">保存</a><a href="" class="btn-submit-jgy">预览</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <com-footer></com-footer>
    <!--end-->
</div>

@section scripts{
    <script>
        var id =@ViewBag.Id;//此id为案源的id
        var app=new Vue({
            el: '#app',
            data: {
                theme1: 'primary',
                value: '',
                model2: '',
                model3: '',
                model4: '',
                model5: [],
                model6: '',
                model7: '',
                model8: '',

                //end//
                part: {
                    city: '',
                    court: '',
                    anyou:''
                },
                subjects: [],

                //anYous: [],
                //courts: [],
                //cities: [],
                //filterCourtByCity: [],

                initial: {
                    CaseLabels: [],
                },
                caseInitialDto: {
                    id: 0,
                    subjectId:null,
                    title: '',
                    introduction: '',
                    law: '',
                    experience: '',
                    lawyerOpinion:'',
                    caseNodes: [],
                    caseLabels: [],
                    judgeInfo: {
                        judgeContent: '',
                        judgeResult: '',
                        supportRate: 50,
                        hasReverseJudge: true,
                        reverseJudgeContent: '',
                        reverseJudgeResult: '',
                        reverseSupportRate:50
                    },
                    remarks:''
                },
                source: {},
                knowledgeTree: [],
                typeTree: [],
                labels: [],
                selectValues: {
                    "案由":[]
                }
            },
            computed: {
                //审判组织
                trialPeople() {
                    if (!this.source.trialPeople) return '';
                    var str=''
                    this.source.trialPeople.forEach(el => {
                        str += `${el.trialRole}：${el.name}\n`
                    })
                    return str
                },
                //代理律师
                lawyerFirms() {
                    if (!this.source.lawyerFirms) return '';
                    var str = ''
                    this.source.lawyerFirms.forEach(el => {
                        str += `${el.firmName}： ${el.lawyer}\n`
                    })
                    return str
                },
                //纠纷类型
                jfleix() {
                    if (this.knowledgeTree.length==0) return [{}];
                    var relativeNodeId = this.knowledgeTree.filter(el => el.name == '纠纷类型')[0].id; 
                    return this.typeTree.filter(el => el.relativeNodeId == relativeNodeId)
                },
                //纠纷原因
                jfyuany() {
                    if (this.knowledgeTree.length == 0) return [{}];
                    var relativeNodeId = this.knowledgeTree.filter(el => el.name == '纠纷原因')[0].id;
                    return this.typeTree.filter(el => el.relativeNodeId == relativeNodeId&&(this.model4?el.parentId==this.model4:true))
                },
                //判决结果
                pjjieg() {
                    if (this.knowledgeTree.length == 0) return [{}];
                    var relativeNodeId = this.knowledgeTree.filter(el => el.name == '判决结果')[0].id;
                    return this.typeTree.filter(el => el.relativeNodeId == relativeNodeId && (this.model4 ? el.parentId == this.model4 : true))
                },

            },
            methods: {
                async loadData() {
                    var that = this;
                    //获取判例对应的数据
                    await abp.services.app.workbench.getCaseInfo(id).done( (res)=> {
                        this.source = res.source;
                        this.caseInitialDto = res.initial;
                        //如果是新的加工，则将案由存至CaseNode，用于级联选择中设置option
                        if (!this.caseInitialDto.id) {
                            this.caseInitialDto.caseNodes.push({ relName: '案由', relValue: this.source.anYou,baseTreeId:this.source.anYouId })
                        }
                    })
                    await abp.services.app.baseTree.getKnowledgeTreeJsonByParentId().done((res) => {
                        this.knowledgeTree = res;
                    })
                    await abp.services.app.baseTree.getTypeTreeJsonByParentId().done((res) => {
                        this.typeTree = res;
                    })
                    //获取所有标签数据
                    await abp.services.app.type.getAllLabels().done(res => {
                        this.labels = res;
                    })
                    //加载专题数据
                    await abp.services.app.type.getSubjects().done( (res)=> {
                        this.subjects = res;
                    })
                    //初始化下拉选择
                    this.initSelects();
                    //abp.services.app.type.getAnYous().done(function (data) {
                    //    that.anYous = data;
                    //});
                    //abp.services.app.type.getCities().done(function (data) {
                    //    that.cities = data;
                    //});
                    //abp.services.app.type.getCourts().done(function (data) {
                    //    that.courts = data;
                    //});
                },
                //初始化下拉选择，目的是为了构建数据对象存放动态select的v-model
                initSelects() {
                    var selects = this.getSelects("案由");
                    for (var i = 0; i < selects.length; i++) {
                        var select = selects[i];
                        //从casenodes中获取初始值
                        var value;
                        var nodes = this.caseInitialDto.caseNodes.filter(o => o.relName == select.name);
                        if (select.enableMultiSelect) {
                            value = nodes.map(o => o.baseTreeId);
                        } else {
                            value = nodes[0] ? nodes[0].baseTreeId : null;
                        }                        
                        this.selectValues["案由"].push(value);
                    }
                },
                //获取级联知识树选择框
                getSelects(knowledgeName) {
                    var rootNode = this.knowledgeTree.filter(o => o.name == knowledgeName)[0];//如对应案由节点知识树节点
                    var subNodes = this.knowledgeTree.filter(o => o.code.indexOf(rootNode.code) == 0 && o.code != rootNode.code);//所有子节点，包含子级
                    var selects = subNodes.map(function (o) { return { id: o.id, name: o.name, displayName: o.displayName, enableMultiSelect: o.enableMultiSelect, parentId: o.parentId } });
                    
                    return selects;
                },
                //获取级联选择框的option
                getOptions(item) {
                    //所有可能的options
                    var allOptions = this.typeTree.filter(o => o.relativeNodeId == item.id);
                    //父知识节点
                    var parentKnowledgeNode = this.knowledgeTree.filter(o => o.id == item.parentId)[0];
                    var parentNode = this.caseInitialDto.caseNodes.filter(o => o.relName == parentKnowledgeNode.name)[0];
                    //必须已选中父节点才显示
                    if (parentNode) {
                        return allOptions.filter(o => o.parentId == parentNode.baseTreeId);
                    }
                    
                    return [];
                },
                //初加工级联选择改变
                changeInitialSelect(item, value) {
                    console.log(value);
                    if (!item.enableMultiSelect) {value=[value]}
                    //选中的分类树节点
                    var selectedNodes = this.typeTree.filter(o => value.indexOf(o.id)>=0);
                    //
                    var nodes = this.caseInitialDto.caseNodes.filter(o => o.relName == item.name);
                    //先移除旧节点
                    for (var i = 0; i < nodes.length; i++) {
                        this.caseInitialDto.caseNodes.splice(this.caseInitialDto.caseNodes.indexOf(nodes[i]), 1);
                    }
                    for (var i = 0; i < selectedNodes.length; i++) {
                        this.caseInitialDto.caseNodes.push({ relName: item.name, relValue: selectedNodes[i].displayName, baseTreeId: selectedNodes[i].id });
                    }
                    //if (node) {
                    //    if (value) {
                    //        node.baseTreeId = value;
                    //        node.relValue = selectedNode.displayName;
                    //    } else {
                    //        //如果是取消选中的，清除casenode里的值
                    //        this.caseInitialDto.caseNodes.splice(this.caseInitialDto.caseNodes.indexOf(node), 1);
                    //    }
                        
                    //} else {
                    //    this.caseInitialDto.caseNodes.push({ relName: item.name, relValue: selectedNode.displayName, baseTreeId: value });
                    //}
                }
            },
            watch: {
                'part.city': function (val, old) {
                    if (!val) {
                        this.filterCourtByCity = [];
                    } else {
                        var that = this;
                        this.filterCourtByCity = this.courts.filter(o => o.parentId == val);
                    }
                }
            },
            async created() {
                await this.loadData();
            }
        })
        //获取初加工、精加工级联层级的方式
        //简述：目的是给定一个知识树节点名称，如“案由”，产生对应节点下所有子节点的下拉选择框
        //1.首先获取知识树及分类树
        //abp.services.app.baseTree.getKnowledgeTreeJsonByParentId()
        //abp.services.app.baseTree.getTypeTreeJsonByParentId()
        //返回数据如下
        var data=[
            {
                "id": 1,
                "parentId": null,
                "name": "案例属性体系",
                "displayName": "案例属性体系",//前台展示名称
                "sort": 0,
                "remarks": null,
                "treeNodeType": 0,//节点类型，知识树为0，分类树为1
                "enableMultiSelect": false,//是否多选
                "relativeNodeId": null,//关联节点Id，只对分类树有效，表示对应知识树的哪个节点
                "code": "00001"//节点编码，用于表述节点层级关系
            }, { "id": 2, "parentId": 1, "name": "案由", "displayName": "案由", "sort": 0, "remarks": null, "treeNodeType": 0, "enableMultiSelect": false, "relativeNodeId": null, "code": "00001.00001" },]
        //2.根据节点的code属性获取对应节点下面的所有子节点
        //例，在初加工的时候我们需要获取案由下面的所有子节点来产生下拉选择框，首先，先找到名称为“案由”的知识树节点，发现其Code为"00001.00001",那么找案由下的所有子节点，只需要寻找知识树中所有code以"00001.00001"开头的节点，然后将其渲染为下拉框，单选多选由属性值enableMultiSelect确定
        //3.填充对应的一级下拉框的数据
        //上一步中“案由”的直接子节点只有“纠纷类型”一个，假设其id为15，那么我们从分类树节点中寻找所有relativeNodeId值为15的节点，将其displayName作为option渲染到上一步的选择框中
        //4.填充级联下拉框的数据
        //级联下拉框的数据由上一级下拉框的数据决定，例如当纠纷类型选定后，我们能够得到了一个选中的分类树节点Id,此时根据此Id去分类树节点寻找对应的直接子节点，注意此时这些子节点有可能对应知识树的“纠纷原因”，也可能对应“判决结果”，根据这些子节点的relativeNodeId，把他们对应到对应的选择框中
        //5.选中节点后获取对应的标签并显示
        //abp.services.app.baseTree.getRelativeLabels(nodeId)
        var data = [{ id: 1, labelName: '无权', labelType: '标签' }, { id: 2, labelName: '天才', labelType: '关键词' }]
        //注意标签有两种类型“关键词”和“标签”，分开显示，当下拉框选择后同步更新关键词区域和标签区域的内容
        //6.至此，我们可以获取两组数据了，一为用户选中的所有分类树节点，二为用户选中的所有标签，
        //初加工提交时的数据
        var updateInitialDto= {
            id: 1,//初加工Id
                title: '案例焦点',
            Introduction: '案例概述',
            Law: '法律法规',
            Experience: '经验分享',
            LawyerOpinion: '律师说',
            CaseNodes: [
                {
                    BaseTreeId: 15 //对应分类树节点Id
                },
                {
                    BaseTreeId: 20 //对应分类树节点Id
                }
            ],
            CaseLabels: [
                {
                    LabelId: 15 //对应标签Id
                },
                {
                    LabelId: 20 //对应标签Id
                }
            ],
            JudgeInfo: {
                JudgeContent: '诉情',
                JudgeResult: '判决',
                SupportRate: 100,//支持率0-100
                HasReverseJudge: true,//是否有反诉
                ReverseJudgeContent: '反诉内容',
                ReverseJudgeResult: '反诉判决',
                ReverseSupportRate: 100//反诉支持率0-100
            },
            remarks:'备注'
        }
        //获取判例对应的数据
        //abp.services.app.workbench.getCaseInfo(id).done(function (data) {

        //})
        ////提交初加工，数据格式见上文
        //abp.services.app.workbench.updateInitial(updateInitialDto)
        ////发布初加工
        //abp.services.app.workbench.publishInitial(caseInitialId)
        ////提交精加工
        //abp.services.app.workbench.updateFine(caseInitialId, updateFineDto)
        ////发布精加工
        //abp.services.app.workbench.publishFine(caseInitialId)
        ////提交案例卡
        //abp.services.app.workbench.updateCard(caseInitialId, updateCardDto)
        ////发布案例卡
        //abp.services.app.workbench.publishCard(caseInitialId)
    </script>
}