
@{
    Layout = "_LayoutJianFa";
    ViewData["Title"] = "查案例";
}
@section styles{ 
    <style>
        .jianfa-chaanli .chaanli-content .cha-item-wrap i1{
            display:flex;
        }
        .jianfa-chaanli .chaanli-content .cha-item-wrap i2 {
            width: 100%;
            border: 1px solid #f2f2f2;
            padding: 5px 10px 3px 10px;
            border-radius: 5px;
            margin: 10px 0 0 0;
            overflow: auto;
            transition: all 0.5s ease 0s;
        }
        .jianfa-chaanli .chaanli-content .cha-item-wrap  .left-cha1 {
            width: 15%;
            padding: 0 5px 0 0;
            box-sizing: border-box;
        }
            .jianfa-chaanli .chaanli-content .cha-item-wrap .left-cha1 img {
                width: 100%;
                max-width: 54px;
                border-radius: 50px;
            }
        .jianfa-chaanli .chaanli-content .cha-item-wrap .right-cha1 {
            width: 85%;
            background: #c69c6d;
            color: #fff;
            line-height: 22px;
            padding: 5px;
            border-radius: 5px;
            margin: 0 0 0 0;
            box-sizing: border-box;
            transition: all 0.5s ease 0s;
        }
        .jianfa-chaanli .chaanli-content .cha-item-wrap i2 .top-cha1 {
            width: 100%;
            text-align: justify;
            padding: 3px 0 10px 0;
            border-bottom: 1px solid #c69c6d;
            line-height: 24px;
            color: #c69c6d;
            transition: all 0.5s ease 0s;
        }
        .jianfa-chaanli .chaanli-content .cha-item-wrap i2 .bottom-cha1 {
            width: 100%;
            color: #c69c6d;
            line-height: 24px;
            padding: 3px 0 0 0;
            transition: all 0.5s ease 0s;
        }
    </style>
}
<div id="app" v-cloak>
    <!--顶部-->
    <com-header active-name="2"></com-header>
    <!--案源库-01-->
    <div class="jianfa-content">
        <div class="ny-content">
            <ul>
                <li>
                    <dl>
                        <dd>当前位置：案例工厂 > 查案例 > 筛选 ：</dd>
                        <dd class="xchu">
                            上海<span>
                                <!--<i class="jianfa fa-close"></i>-->×
                            </span>
                        </dd>
                        <dd class="xchu">房屋买卖纠纷<span>×</span></dd>
                    </dl>
                </li>
                <li>
                    <dl class="xian">
                        <dd class="style-bf-20-a">
                            <template>
                                <i-select placeholder="请选择城市" v-model="wherePart.cityId" size="small">
                                    <i-option v-for="item in cities" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                </i-select>
                            </template>
                        </dd>
                        <dd class="style-bf-20-b">
                            <template>
                                <i-select placeholder="请选择案由" v-model="wherePart.anYouId" size="small">
                                    <i-option v-for="item in anYous" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                </i-select>
                            </template>
                        </dd>
                        <dd class="style-bf-20-b">
                            <div class="fleft style-chaal-33-b" v-for="(item,index) in getSelects('案由')">
                                <template>
                                    <i-select :placeholder="'请选择'+item.displayName" v-model="selectValues['案由'][index]" @@on-change="changeInitialSelect(item,$event)" :clearable="true" :multiple="item.enableMultiSelect">
                                        <i-option v-for="opt in getOptions(item)" :value="opt.id"
                                                  :key="opt.id">{{ opt.displayName }}</i-option>
                                    </i-select>
                                </template>
                            </div>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl class="xianb">
                        <dd class="style-bf-8">
                            <div class="btn-title-bz">关键词删选：</div>
                        </dd>
                        <dd class="style-bf-92">
                            <i2>
                                <a href="" v-for="i in 5" style="margin-left:20px;">关键词一</a>
                            </i2>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl class="xianb">
                        <dd class="style-bf-8">
                            <div class="btn-title-bz">标签删选：</div>
                        </dd>
                        <dd class="style-bf-92">
                            <i2>
                                <a href="" v-for="i in 5" style="margin-left:20px;">标签一</a>
                            </i2>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl class="xian">
                        <dd class="style-bf-8">
                            <div class="btn-title-bz">专题删选：</div>
                        </dd>
                        <dd class="style-bf-35">
                            <template>
                                <i-select placeholder="请选择专题" v-model="wherePart.subjectId" size="small">
                                    <i-option v-for="item in subjects" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                                </i-select>
                            </template>
                        </dd>
                        <dd class="style-bf-47">
                            <template>
                                <i-input v-model="wherePart.keyWord" size="small" placeholder="请输入关键词等信息..." />
                            </template>
                        </dd>
                        <dd class="style-bf-10-b"><Button class="btn-search">筛选</Button></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--end-->
    <!--查案例-->
    <div class="jianfa-chaanli">
        <div class="chaanli-content">
            <ul>
                <li class="style-chaal-40">
                    <template>
                        <div class="infinite-list-wrapper">
                            <dl class="list" v-infinite-scroll="loadScroll" infinite-scroll-disabled="disabled">
                                <dd class="cha-item-wrap" v-for="item in items" :key="item.id" @@click="getViewMsg(item.id)">
                                    <i1>
                                        <div class="left-cha1"><img src="ima/index-2.png"></div>
                                        <div class="right-cha1">
                                            {{item.title}}
                                        </div>
                                    </i1>
                                    <i2>
                                        <div class="top-cha1">
                                            {{item.introduction}}
                                        </div>
                                        <div class="bottom-cha1"><span>{{item.readNumber}}</span><i class="jianfa fa-eye"></i></div>
                                    </i2>
                                </dd>
                            </dl>
                            <p v-if="loading">加载中...</p>
                            <p v-if="noMore">没有更多了</p>
                        </div>
                    </template>
                    @*<dl>
            <dd v-for="item in [{title:'t',introduction:'34321',readNumber:125,id:12}]" :key="item.id" @@click="getViewMsg(item.id)">
                <i1>
                    <div class="left-cha1"><img src="ima/index-2.png"></div>
                    <div class="right-cha1">
                        {{item.title}}
                    </div>
                </i1>
                <i2>
                    <div class="top-cha1">
                        {{item.introduction}}
                    </div>
                    <div class="bottom-cha1"><span>{{item.readNumber}}</span><i class="jianfa fa-eye"></i></div>
                </i2>
            </dd>
        </dl>*@
                </li>
                <li class="on style-chaal-60" v-if="caseInfo">
                    <dl class="on">

                        <dd class="on">
                            <i4 class="fleft tjustify">
                                {{caseInfo.initial.title}}
                            </i4>
                        </dd>

                        <dd class="on">
                            <i7 class="fleft tleft style-chaal-33">{{caseInfo.source.court1}}</i7>
                            <a @@click="moda12 = true">
                                <i5b class="fleft style-chaal-33">{{caseInfo.source.sourceSN}}</i5b>
                            </a>
                            <i7 class="fleft tright style-chaal-33">{{caseInfo.initial.publishdate}}</i7>
                        </dd>


                        <dd class="on">
                            <i5 class="fleft tjustify">
                                <!-- 概述 -->
                                {{caseInfo.initial.introduction}}
                            </i5>
                        </dd>

                        <dd class="on">
                            <bt>
                                <i8 class="style-chaal-20">诉请及判决</i8>
                            </bt>
                            <i6 class="fleft tjustify style-chaal-42-h">{{caseInfo.initial.introduction}}</i6>
                            <i5c class="style-chaal-16-h"><span class="h50">50%</span></i5c>
                            <!--调节h50 h60.....-->
                            <i6 class="fleft tjustify style-chaal-42-h">{{caseInfo.initial.judgeInfo.judgeResult}}</i6>
                        </dd>

                        <dd class="on">
                            <bf>
                                <i9 class="fright">反诉判决</i9>
                            </bf>
                            <i6 class="fleft tjustify style-chaal-42-h">{{caseInfo.initial.judgeInfo.reverseJudgeContent}}</i6>
                            <i5c class="style-chaal-16-h"><span class="h50">50%</span></i5c>
                            <!--调节h50 h60.....-->
                            <i6 class="fleft tjustify style-chaal-42-h">{{caseInfo.initial.judgeInfo.reverseJudgeResult}}</i6>
                        </dd>

                        <dd class="on">
                            <bt>
                                <i8 class="style-chaal-20">法律法规</i8>
                            </bt>
                            <i6 class="fleft tjustify">
                                {{caseInfo.initial.law}}
                            </i6>
                        </dd>

                        <dd class="on">
                            <bt>
                                <i8 class="style-chaal-20">经验分享</i8>
                            </bt>
                            <i6 class="fleft tjustify">
                                {{caseInfo.initial.experience}}
                            </i6>
                        </dd>

                        <dd class="on">
                            <bt>
                                <i8 class="style-chaal-20">简法律师说</i8>
                            </bt>
                            <i6 class="fleft tjustify">
                                {{caseInfo.initial.lawyerOpinion}}
                            </i6>
                        </dd>

                        <dd class="on">
                            <bt>
                                <i8 class="style-chaal-20">案例卡</i8>
                            </bt>
                            <i5 class="fleft tjustify">

                            </i5>
                        </dd>

                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--end-->
    <!--footer-->
    <com-footer></com-footer>
    <!--end-->
</div>
@section scripts{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                currentPage: 1,
                pagesize: 10,
                items: [],
                caseInfo: null,
                anYous: [],
                cities: [],
                subjects:[],
                wherePart: {
                    anYouId: '',
                    cityId: '',
                    subjectId: '',
                    keyWord:''
                },
                noMore: false,
                loading: false,




                //selectValues: {
                //    "案由": []
                //},
                //knowledgeTree: [],
                //typeTree: [],
            },
            computed: {
                where() {
                    return '1=1'
                },
                disabled() {
                    return this.loading || this.noMore
                }
            },
            methods: {
                ////初始化下拉选择，目的是为了构建数据对象存放动态select的v-model
                //initSelects() {
                //    var selects = this.getSelects("案由");
                //    for (var i = 0; i < selects.length; i++) {
                //        var select = selects[i];
                //        //从casenodes中获取初始值
                //        var value;
                //        var nodes = this.caseInitialUpdateDto.caseNodes.filter(o => o.relName == select.name);
                //        if (select.enableMultiSelect) {
                //            value = nodes.map(o => o.baseTreeId);
                //        } else {
                //            value = nodes[0] ? nodes[0].baseTreeId : null;
                //        }
                //        this.selectValues["案由"].push(value);
                //    }
                //},
                ////初始化标签选择，目的是构建存放标签及关键词v-model的两个数组
                //initLabels() {
                //    this.selectLabels["初加工"] = this.caseInitialUpdateDto.caseLabels.filter(o => o.relName == "标签" && o.relType == "初加工").map(o => o.labelId);
                //    this.selectKeywords["初加工"] = this.caseInitialUpdateDto.caseLabels.filter(o => o.relName == "关键词" && o.relType == "初加工").map(o => o.labelId);
                //},
                ////获取级联知识树选择框
                //getSelects(knowledgeName) {
                //    var rootNode = this.knowledgeTree.filter(o => o.name == knowledgeName)[0];//如对应案由节点知识树节点
                //    var subNodes = this.knowledgeTree.filter(o => o.code.indexOf(rootNode.code) == 0 && o.code != rootNode.code);//所有子节点，包含子级
                //    var selects = subNodes.map(function (o) { return { id: o.id, name: o.name, displayName: o.displayName, enableMultiSelect: o.enableMultiSelect, parentId: o.parentId } });

                //    return selects;
                //},

                loadScroll() {
                    this.loading = true
                    this.loadSource();
                },
                getViewMsg(caseInitialId) {
                    abp.servcies.app.viewCase.view(caseInitialId).done(function (caseSourceId) {
                        //caseSourceId为对应的案源id
                        //获取案例详情
                        abp.services.app.workbench.getCaseInfo(caseSourceId).done(function (res) {
                            that.caseInfo = res;
                        })
                    })
                },
                loadSource() {
                    var that = this;
                    func.runAsync(abp.services.app.viewCase.getPageResult({ page: this.currentPage, limit: this.pagesize, where: this.where, keyword: this.keyword }).done((res) => {
                        this.loading = false;
                        if (res.data.length == 0) {
                            this.$Message.info('已经没有数据了');
                            this.noMore = true;
                        }
                        this.currentPage++;
                        that.items.concat(res.data);
                        //that.items = res.data;
                        //that.totalCount = res.count;
                    }));
                    //abp.services.app.viewCase.getSummary().done(function (data) {
                    //    that.summary = data;
                    //})
                },
                loadData() {
                    var that = this;
                    //加载专题数据
                    abp.services.app.type.getSubjects().done(function (data) {
                        that.subjects = data;
                    })
                    abp.services.app.type.getAnYous().done(function (data) {
                        that.anYous = data;
                    });
                    abp.services.app.type.getCities().done(function (data) {
                        that.cities = data;
                    });
                }
            },
            mounted() {
                this.loadSource();
                this.loadData();

                //await abp.services.app.baseTree.getKnowledgeTreeJsonByParentId().done((res) => {
                //    this.knowledgeTree = res;
                //})
                ////获取所有标签数据
                //await abp.services.app.type.getAllLabels().done(res => {
                //    this.labels = res;
                //})
                ////初始化下拉选择
                //this.initSelects();
                ////初始化标签选择
                //this.initLabels();
            }
        })
        ////请求案例分页
        //abp.services.app.viewCase.getPageResult().done(function (data) {

        //})
        ////点击案例查看详情
        //abp.servcies.app.viewCase.view(caseInitialId).done(function (caseSourceId) {
        //    //caseSourceId为对应的案源id
        //    //获取案例详情
        //    abp.services.app.workbench.getCaseInfo(caseSourceId).done(function () {

        //    })
        //})
    </script>
}