
@{
    ViewData["Title"] = "看观点";
}

<h2>Host</h2>

@section scripts{
    <script>
        //请求案例卡分页
        abp.services.app.viewPoint.getPageResult().done(function (data) {
            
        })
    </script>
    }