@*<style>
    #jianHeader {
        height: 80px;
        background-color: rgba(198, 156, 109, 1);
        width: 1200px;
        margin: 0 auto;
    }
</style>
<script type="text/x-template" id="comHeadr">
    <header id="jianHeader">

    </header>
</script>*@
    <script type="text/x-template" id="comHeader">
        <div id="jianfa_top">
            <div class="top-logo">
                <div class="logo-pic"><img src="/assets/jianfa/ima/logo-ny.png" border="0"><span>案例工厂</span></div>
                <div class="daohang-top">
                    <!--导航-->
                    <i-Menu mode="horizontal" theme="primary" :active-name="activeName">
                        <Menu-Item name="1"><a href="/Home/">首　页</a></Menu-Item>
                        <Menu-Item name="2"><a href="/Home/ViewCase">查案例</a></Menu-Item>
                        <Menu-Item name="3"><a href="/Home/ViewPoint">看观点</a></Menu-Item>
                        <!--<Menu-Item name="4"><Icon type="ios-contact"></Icon>工作台</Menu-Item>-->
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-stats"></Icon>工作台
                            </template>
                            <MenuGroup>
                                @*<Menu-Item name="4-1"><a href="加工页.html">加 工 页</a></Menu-Item>
                                <Menu-Item name="4-2"><a href="案源库.html">案 源 库</a></Menu-Item>*@
                                <Menu-Item name="工作台"><a href="/Home/WorkBench">工作台</a></Menu-Item>
                                <Menu-Item name="我的案例"><a href="/Home/MyCase">我的案例</a></Menu-Item>
                                <Menu-Item name="我的精品"><a href="/Home/MyArt">我的精品</a></Menu-Item>
                            </MenuGroup>
                        </Submenu>
                    </i-Menu>
                    <!--end-->
                </div>
                <div class="portrait-pic"><img :src="avata" border="0" width="36" height="36"></div>
            </div>
        </div>
    </script>
<script>

    //Vue.component('com-headr', {//前台页面头
    //    data: function () {
    //        return {
    //        }
    //    },
    //    props: [],
    //    template: '#comHeader',
    //    methods: {

    //    }
    //})
    Vue.component('com-header', {//前台页面头
        template: '#comHeader',
        props: ['activeName'],
        data: function () {
            return {
                avata:''
            }
        },
        mounted: function () {
            var that = this;
                abp.services.app.user.getById(abp.session.userId).done(function (data) {
                    that.avata = data.avata;
                })
        }
    })
    Vue.component('com-footer', {
        template:'<div class="footer-ny"><div class="ziti-b">2017-2020 | Copyright | 版权声明 | 简法二手房 ( 沪ICP备00000000号 )</div></div>'
    })
</script>