@*<style>
    #jianHeader {
        height: 80px;
        background-color: rgba(198, 156, 109, 1);
        width: 1200px;
        margin: 0 auto;
    }
</style>
<script type="text/x-template" id="comHeadr">
    <header id="jianHeader">

    </header>
</script>*@
<style>
/*重置样式*/
    .ivu-menu-item-selected a {
        color: #754c24;
    }
</style>
    <script type="text/x-template" id="comHeader">
        <div id="jianfa_top">
            <div class="top-logo">
                <div class="logo-pic"><img src="/assets/jianfa/ima/logo-ny.png" border="0"><span>案例工厂</span></div>
                <div class="daohang-top">
                    <!--导航-->
                    <i-Menu mode="horizontal" theme="primary" :active-name="activeName">
                        <Menu-Item name="1"><a href="/Home/">首　页</a></Menu-Item>
                        <Menu-Item name="2"><a href="/Home/ViewCase">查案例</a></Menu-Item>
                        <Menu-Item name="3"><a href="/Home/ViewPoint">看观点</a></Menu-Item>
                        <!--<Menu-Item name="4"><Icon type="ios-contact"></Icon>工作台</Menu-Item>-->
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-stats"></Icon>工作台
                            </template>
                            
                                <Menu-Item name="工作台"><a href="/Home/WorkBench">工作台</a></Menu-Item>
                                <Menu-Item name="我的案例"><a href="/Home/MyCase">我的案例</a></Menu-Item>
                                <Menu-Item name="我的精品"><a href="/Home/MyArt">我的精品</a></Menu-Item>
                                @*<Menu-Item name="4-1"><a href="加工页.html">加 工 页</a></Menu-Item>
                                <Menu-Item name="4-2"><a href="案源库.html">案 源 库</a></Menu-Item>*@
                            @*<MenuGroup>
                            </MenuGroup>*@
                        </Submenu>
                    </i-Menu>
                    <!--end-->
                </div>
                <div class="portrait-pic">
                    <el-dropdown>
                        <img :src="avata" border="0" width="36" height="36" style="cursor:pointer">
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item><a href="/Home/Me">个人信息</a></el-dropdown-item>                            
                            <el-dropdown-item divided><a href="/Account/Logout">退出登录</a></el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    @*<a href="/Home/Me"><img :src="avata" border="0" width="36" height="36"></a>*@
                </div>
            </div>
        </div>
    </script>
    <script id="headSelectFilter" type="text/x-template">

        <dl class="xian">
            <dd class="style-bf-20">
                <template>
                    <i-select placeholder="请选择案由" v-model="wherePart.anYouId" size="small" clearable >
                        <i-option v-for="item in anYous" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                    </i-select>
                </template>
            </dd>
            <dd class="style-bf-20">
                <template>
                    <i-select placeholder="请选择城市" v-model="wherePart.cityId" size="small" clearable >
                        <i-option v-for="item in cities" :value="item.id" :key="item.id">{{ item.displayName }}</i-option>
                    </i-select>
                </template>
            </dd>
            <dd class="style-bf-20">
                <template>
                    <i-select placeholder="请选择法院" v-model="wherePart.courtId" size="small" clearable >
                        <i-option v-if="filterCourtByCity.length==0" disabled>请先选择城市</i-option>
                        <i-option v-for="item in filterCourtByCity" :value="item.id" :key="item.id" v-else>{{ item.displayName }}</i-option>
                    </i-select>
                </template>
            </dd>
            <dd class="style-bf-30">
                <template>
                    <i-input v-model="wherePart.keyword" size="small" placeholder="请输入关键词等信息..." />
                </template>
            </dd>
            <dd class="style-bf-10"><button class="btn-search" @@click="$emit('click')">筛选</button></dd>
        </dl>
    </script>
<script>
    Vue.component('com-header', {//前台页面头
        template: '#comHeader',
        props: ['activeName'],
        data: function () {
            return {
                avata:''
            }
        },
        mounted: function () {
            var that = this;
                abp.services.app.user.getById(abp.session.userId).done(function (data) {
                    that.avata = data.avata;
                })
        }
    })
    Vue.component('com-footer', {
        //不设font-size12，就变大了，没看出原因
        template:'<div class="footer-ny"><div class="ziti-b" style="font-size:12px;">2017-2020 | Copyright | 版权声明 | 简法二手房 ( 沪ICP备00000000号 )</div></div>'
    })
    Vue.component('head-select-filter', {
        data: function () {
            var w = this.wherePart || {
                anyouId: '',
                cityId: '',
                courtId: '',
            };
            return {
                anYous: [],
                cities: [],
                courts: [],
                filterCourtByCity:[],
                whereParts: w
            }
        },
        template:'#headSelectFilter',
        props: ['wherePart'],
        computed: {
            where: function () {
                var where = '1=1';
                for (var i in this.whereParts) {
                    var data = this.whereParts[i];
                    if (!data) continue;
                    if (i == 'courtId') {
                        where += ` and (court1Id=${data} or court2id=${data})`;
                    } else {
                        where += ` and ${i}=${data}`;
                    }

                }
                return where;
                //return `anyouid=${anyouid} and cityId=${cityId} and (court1Id=${courtId} or court2id=${courtId})`

            },
        },
        methods: {
            //获取分类信息
            loadTypes: function () {
                var that = this;
                abp.services.app.type.getAnYous().done(function (data) {
                    that.anYous = data;
                });
                abp.services.app.type.getCities().done(function (data) {
                    that.cities = data;
                });
                abp.services.app.type.getCourts().done(function (data) {
                    that.courts = data;
                });
            },
        },
        watch: {
            'wherePart.cityId': function (val,old) {
                this.wherePart.courtId = null;
                if (!val) {
                    this.filterCourtByCity= [];
                } else {
                    var that = this;
                    this.filterCourtByCity = this.courts.filter(o => o.parentId == val);
                }
            }
        },
        created: function () {
            this.loadTypes();
        }
    })

</script>
<script type="text/x-template" id="viewCase">

    <div class="jianfa-chaanli">
        <div class="chaanli-content">
            <div v-show="items.length===0">
                <h1 style="font-size:24px;text-align:center;margin:30px">没有符合您查询条件的案例哦，请减少查询条件再试试看。</h1>
            </div>
            <ul v-show="items.length">
                <li class="style-chaal-40">
                    <template>
                        <div class="infinite-list-wrapper">
                            <dl class="list" :style="{height:labelCheckVisible?'calc(100vh - 291px)':'calc(100vh - 207px)'}" id="scrollWrapper">
                                <a href="javascript:;">
                                    <dd class="cha-item-wrap" v-for="item in items" :key="item.id" @@click="getViewMsg(item.id)">
                                        <i1>
                                            <div class="left-cha1"><img :src="item.avata"></div>
                                            <div class="right-cha1">
                                                {{item.title}}
                                            </div>
                                        </i1>
                                        <i2>
                                            <div class="top-cha1">
                                                {{item.introduction}}
                                            </div>
                                            <div class="bottom-cha1">
                                                <span>{{item.readNumber}}</span>
                                                <span style="color:#754c24; margin-right: 10px;">阅读量</span>
                                                @*<i class="jianfa fa-eye"></i>*@
                                            </div>
                                        </i2>
                                    </dd>
                                </a>
                                <p v-if="loading" style="text-align:center">加载中...</p>
                                <p v-if="noMore" style="text-align:center">没有更多了</p>
                            </dl>

                        </div>

                    </template>
                </li>
                <li class="on style-chaal-60" v-if="caseInfo">
                    <dl class="on" :style="{height:labelCheckVisible?'calc(100vh - 291px)':'calc(100vh - 207px)'}">

                        <dd class="on">
                            <i4 class="fleft tjustify">
                                {{caseInfo.initial.title}}
                            </i4>
                        </dd>

                        <dd class="on">
                            <i7 class="fleft tleft style-chaal-33">{{caseInfo.source.court2||caseInfo.source.court1}}</i7>
                            <a @@click="currentItem=caseInfo.source;moda12 = true">
                                <i5b class="fleft style-chaal-33">{{caseInfo.source.sourceSN}}</i5b>
                            </a>
                            <i7 class="fleft tright style-chaal-33">{{new Date(caseInfo.source.validDate).pattern('yyyy-MM-dd')}}</i7>
                        </dd>


                        <dd class="on">
                            <i5 class="fleft tjustify">
                                <!-- 概述 -->
                                {{caseInfo.initial.introduction}}
                            </i5>
                        </dd>

                        <dd class="on">
                            <bt>
                                <i8 class="style-chaal-20">诉请及判决</i8>
                            </bt>
                            <div style="display:flex;width:100%">
                                <i6 class="fleft tjustify style-chaal-42-h flex-center">
                                    <p style="margin:auto;">{{caseInfo.initial.judgeInfo.judgeContent}}</p>
                                </i6>
                                <span class="support-rate">{{caseInfo.initial.judgeInfo.supportRate}}%</span>
                                @*<i5c class="style-chaal-16-h"><span :style="{bottom:1.18*caseInfo.initial.judgeInfo.supportRate+'px'}">{{caseInfo.initial.judgeInfo.supportRate}}%</span></i5c>*@
                                <!--调节h50 h60.....-->
                                <i6 class="fleft tjustify style-chaal-42-h flex-center">
                                    <p style="margin:auto;">{{caseInfo.initial.judgeInfo.judgeResult}}</p>
                                </i6>
                            </div>

                        </dd>

                        <dd class="on" v-if="caseInfo.initial.judgeInfo.reverseJudgeContent">
                            <bt><i8 class="style-chaal-20">反诉判决</i8></bt>
                            <div style="display:flex;width:100%">
                                <i6 class="fleft tjustify style-chaal-42-h flex-center">
                                    <p style="margin:auto;">{{caseInfo.initial.judgeInfo.reverseJudgeContent}}</p>
                                </i6>
                                <span class="support-rate">{{caseInfo.initial.judgeInfo.reverseSupportRate}}%</span>
                                @*<i5c class="style-chaal-16-h"><span :style="{bottom:1.18*caseInfo.initial.judgeInfo.reverseSupportRate+'px'}">{{caseInfo.initial.judgeInfo.reverseSupportRate}}%</span></i5c>*@
                                <!--调节h50 h60.....-->
                                <i6 class="fleft tjustify style-chaal-42-h flex-center">
                                    <p style="margin:auto;">{{caseInfo.initial.judgeInfo.reverseJudgeResult}}</p>
                                </i6>
                            </div>
                        </dd>

                        <dd class="on" v-show="caseInfo.initial.law">
                            <bt>
                                <i8 class="style-chaal-20">法律法规</i8>
                            </bt>
                            <i6 class="fleft tjustify width100" v-html="caseInfo.initial.law">
                                @*{{caseInfo.initial.law}}*@
                            </i6>
                        </dd>

                        <dd class="on" v-show="caseInfo.initial.experience">
                            <bt>
                                <i8 class="style-chaal-20">经验分享</i8>
                            </bt>
                            <i6 class="fleft tjustify width100" v-html="caseInfo.initial.experience">
                                @*{{caseInfo.initial.experience}}*@
                            </i6>
                        </dd>

                        <dd class="on" v-show="caseInfo.initial.lawyerOpinion">
                            <bt>
                                <i8 class="style-chaal-20 width100">简法律师说</i8>
                            </bt>
                            <i6 class="fleft tjustify width100" v-html="caseInfo.initial.lawyerOpinion">
                                @*{{caseInfo.initial.lawyerOpinion}}*@
                            </i6>
                        </dd>

                        <dd class="on" v-show="caseInfo.initial.caseCards && caseInfo.initial.caseCards.length">
                            <bt>
                                <i8 class="style-chaal-20">案例卡</i8>
                            </bt>
                            <div>
                                <div v-for="(item,index) in caseInfo.initial.caseCards">
                                    <i5 class="fleft tjustify" style="margin: 10px 0;min-height: 6em;">{{item.title}}</i5>
                                    <i6 class="fleft tjustify width100" style="margin-bottom:20px;">{{item.content}}</i6>
                                </div>
                            </div>
                        </dd>

                    </dl>
                </li>
            </ul>
        </div>
    </div>
</script>