
@{
    Layout = "_LayoutJianFa";
    ViewData["Title"] = "工作台";
}
<div id="app">
    <!--顶部-->
   <com-header active-name="工作台"></com-header>
    <!---01-->
    <div class="jianfa-content">
        <div class="ny-content on">
            <ul>
                <li>
                    <dl class="xian">
                        <dd>当前位置：案例工厂 > 工作台：</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--end-->
    <!--看观点-->
    <div class="jianfa-wenjiancard">
        <div class="ny-wenjiancard">
            <h1 style="font-size:24px;text-align:center;margin:30px" v-if="sources.length==0">您的工作台空空如也，快去判例库添加工作文件哦</h1>
            <ul>

                <li v-for="(item,index) in sources" :class="{'on':(index+1)%3==2}">
                    <dl>
                        <dd class="card-top">
                            <p class="wzys1">{{item.anYou}}</p>
                            <p><a @@click="moda12 = true">{{item.sourceSN}}</a></p>
                            <p>{{item.court2||item.court1}}</p>
                            <p class="wzys1">{{new Date(item.validDate).pattern('yyyy年MM月dd日')}}</p>
                        </dd>
                        <dd class="card-bottom">
                            <p class="fleft">{{caseSourceStatus==1?'待加工':'加工中'}}...</p>
                            <p><a @@click="modal1 = true"><i class="mywj-icon-2"></i></a></p>
                            <p><a :href="'/Home/Process?encrypedId='+item.encrypedId"><i class="mywj-icon-1"></i></a></p>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dd class="card-zhongjian">

                            <span><a href="/Home/Source"><i class="mywj-icon-3"></i></a>去案源库，添加工作文件</span>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
    <!--end-->
    <!--添加1-->
    <Modal width="428px" v-model="modal1" class-name="center-modal" :mask-closable="false">
        <div class="neirong-eject-ny">
            <ul>
                <li class="bot-on-b"><p>请选择（填写）放回原由：</p></li>
                <li><Checkbox v-model="single1">判断过于简单，不适合加工</Checkbox></li>
                <li><Checkbox v-model="single2">判断描述不清，不适合加工</Checkbox></li>
                <li><Checkbox v-model="single3">其他（填写）</Checkbox></li>
                <li><i-Input v-model="value8" type="textarea" :autosize="{minRows: 5,maxRows: 5}" placeholder="这里请输入放回原因…" /></li>
            </ul>
        </div>
        <div slot="footer">
            <div class="but-foot">
                <div class="but-left-foot"><Button class="btn-footer" @@click="submit">放回</Button></div>
                <div class="but-right-foot"><Button class="btn-footer-qx" @@click="submit">取消</Button></div>
            </div>
        </div>
    </Modal>
    <!--添加-->
    <Modal width="630px" v-model="moda12" class-name="top-modal" :mask-closable="false" title="(2016)沪 0115 民初 67704 号">
        <div class="neirong-eject">
            <ul>
                <li><img src="ima/anhao-1.jpg"></li>
            </ul>
        </div>
        <div slot="footer">&nbsp;</div>
    </Modal>

    <!--footer-->
    <com-footer></com-footer>
    <!--end-->
</div>

@section scripts{
    <script>
        new Vue({
            el: '#app',
            data: {
                //spanLeft: 3,
                //spanRight: 21,
                theme1: 'primary',
                value: '',
                modal1: false,
                moda12: false,
                value8: '',
                // moda3: false,
                // password1:false,
                //value1: [],
                single1: false,
                single2: false,
                single3: false,
                sources: [],//工作台中的判例
                userIsAcitve:true,//用户是否被冻结

            },
            computed: {
                //用户是否还可以添加判例
                canAdd: function () {
                    return this.userIsAcitve && this.sources.length < abp.setting.getInt("maxWorkbenchCaseCount");
                }
            },
            //
            methods: {
                submit() {
                    this.modal1 = false;
                }
            },
            //
            mounted: function () {
                var that = this;
                abp.services.app.workbench.getMyProcessingCaseSource().done(function (data) {
                    //data:[{encrypedId:'加密后的id',id:1,anYou:'案由',court1:'一审法院',court2:'二审法院',validDate:'判决日期',caseSourceStatus:1，SourceSN:案号}]
                    //caseSourceStatus为案例状态：1待加工，2加工中
                    //对应的加工页地址为/Home/Process?encrypedId=加密后的id
                    that.sources = data;
                })
                abp.services.app.user.getUseIsActive(abp.session.userId).done(function (data) {
                    that.userIsAcitve = data;
                })
            }
        })
    </script>
}