body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u8639 {
  position:absolute;
  left:2px;
  top:28px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u8640 {
  position:absolute;
  left:26px;
  top:20px;
  width:112px;
  height:37px;
}
#u8641 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u8642 {
  position:absolute;
  left:163px;
  top:21px;
  width:244px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u8643 {
  position:absolute;
  left:2px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u8644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8644 {
  position:absolute;
  left:1015px;
  top:9px;
  width:95px;
  height:16px;
}
#u8645 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u8646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8646 {
  position:absolute;
  left:1225px;
  top:9px;
  width:29px;
  height:16px;
}
#u8647 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8648 {
  position:absolute;
  left:1142px;
  top:9px;
  width:57px;
  height:16px;
}
#u8649 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8650 {
  position:absolute;
  left:2px;
  top:74px;
  width:750px;
  height:35px;
}
#u8650_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:756px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8651 {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:40px;
}
#u8652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8652 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8653 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u8654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8654 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8655 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u8656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8656 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8657 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u8658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8658 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8659 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u8660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8660 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8661 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u8662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u8662 {
  position:absolute;
  left:0px;
  top:111px;
  width:1280px;
  height:1px;
}
#u8663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:449px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u8665 {
  position:absolute;
  left:0px;
  top:112px;
  width:211px;
  height:449px;
}
#u8666 {
  position:absolute;
  left:2px;
  top:216px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8667 {
  position:absolute;
  left:5px;
  top:117px;
  width:200px;
  height:166px;
}
#u8667_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:172px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8668 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:171px;
}
#u8669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
}
#u8669 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8670 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:31px;
}
#u8671 {
  position:absolute;
  left:0px;
  top:33px;
  width:200px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8672 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u8673 {
  position:absolute;
  left:0px;
  top:64px;
  width:200px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8674 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u8675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u8675 {
  position:absolute;
  left:0px;
  top:98px;
  width:200px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8676 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u8677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u8677 {
  position:absolute;
  left:0px;
  top:132px;
  width:200px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8678 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u8679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:34px;
  background:inherit;
  background-color:rgba(201, 132, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8679 {
  position:absolute;
  left:602px;
  top:74px;
  width:151px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8680 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
