body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3555 {
  position:absolute;
  left:113px;
  top:142px;
  width:300px;
  height:170px;
}
#u3556 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u3557 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u3558 {
  position:absolute;
  left:2px;
  top:32px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3560 {
  position:absolute;
  left:70px;
  top:40px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3561 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u3562 {
  position:absolute;
  left:373px;
  top:27px;
  width:50px;
  height:39px;
  font-size:36px;
  color:#FFFFFF;
}
#u3563 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  word-wrap:break-word;
}
#u3564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:89px;
}
#u3564 {
  position:absolute;
  left:416px;
  top:234px;
  width:291px;
  height:89px;
}
#u3565 {
  position:absolute;
  left:2px;
  top:36px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3566 {
  position:absolute;
  left:545px;
  top:190px;
  width:300px;
  height:170px;
}
#u3567 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u3568 {
  position:absolute;
  left:657px;
  top:388px;
  width:40px;
  height:41px;
}
#u3569 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3570 {
  position:absolute;
  left:88px;
  top:151px;
  width:36px;
  height:48px;
}
#u3571 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3572 {
  position:absolute;
  left:47px;
  top:137px;
  width:36px;
  height:48px;
}
#u3573 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3574 {
  position:absolute;
  left:47px;
  top:137px;
  width:36px;
  height:48px;
}
#u3575 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3576 {
  position:absolute;
  left:1565px;
  top:-306px;
  width:300px;
  height:170px;
}
#u3577 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u3555.a {
  left:0px;
  top:65px;
  width:360px;
  height:42px;
}
#u3555_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3556.a {
  top:13px;
  width:356px;
}
#u3557.a {
  width:360px;
  height:68px;
}
#u3557_img.a {
  width:360px;
  height:68px;
}
#u3558.a {
  top:26px;
  width:356px;
}
#u3559.a {
  position:absolute;
  left:51px;
  top:33px;
  width:91px;
  height:20px;
}
#u3560.a {
  left:51px;
  top:33px;
}
#u3560_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3561.a {
}
#u3562.a {
  left:310px;
  top:24px;
  width:42px;
  height:35px;
}
#u3562_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u3563.a {
  top:-13px;
  width:38px;
}
#u3564.a {
  left:45px;
  top:72px;
  width:102px;
  height:29px;
}
#u3564_img.a {
  width:102px;
  height:29px;
}
#u3565.a {
  top:6px;
  width:98px;
}
#u3566.a {
  left:8px;
  top:28px;
  width:33px;
  height:33px;
}
#u3566_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3567.a {
  top:8px;
  width:29px;
}
#u3568.a {
  left:4px;
  top:69px;
  width:34px;
  height:36px;
}
#u3568_img.a {
  width:34px;
  height:36px;
}
#u3569.a {
  top:10px;
  width:30px;
}
#u3570.a {
  left:37px;
  top:127px;
  width:288px;
  height:25px;
}
#u3570_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3571.a {
  left:2px;
  top:2px;
  width:284px;
}
#u3572.a {
  left:20px;
  top:179px;
  width:288px;
  height:28px;
}
#u3572_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3573.a {
  left:2px;
  top:2px;
  width:284px;
}
#u3574.a {
  left:34px;
  top:240px;
  width:288px;
  height:25px;
}
#u3574_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3575.a {
  left:2px;
  top:2px;
  width:284px;
}
#u3576.a {
  left:52px;
  top:307px;
  width:251px;
  height:44px;
}
#u3576_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 132, 63, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u3577.a {
  top:12px;
  width:247px;
}
