body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6796 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u6797 {
  position:absolute;
  left:2px;
  top:28px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6798_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:63px;
  height:63px;
}
#u6798 {
  position:absolute;
  left:11px;
  top:10px;
  width:53px;
  height:53px;
}
#u6799 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6800 {
  position:absolute;
  left:74px;
  top:15px;
  width:53px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6801 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u6802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9843F;
}
#u6802 {
  position:absolute;
  left:65px;
  top:42px;
  width:167px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9843F;
}
#u6803 {
  position:absolute;
  left:2px;
  top:2px;
  width:163px;
  word-wrap:break-word;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u6804 {
  position:absolute;
  left:1137px;
  top:17px;
  width:112px;
  height:37px;
}
#u6805 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u6806 {
  position:absolute;
  left:59px;
  top:54px;
  width:11px;
  height:10px;
}
#u6807 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u6808 {
  position:absolute;
  left:942px;
  top:18px;
  width:182px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u6809 {
  position:absolute;
  left:2px;
  top:2px;
  width:178px;
  word-wrap:break-word;
}
#u6810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6810 {
  position:absolute;
  left:11px;
  top:10px;
  width:59px;
  height:53px;
}
#u6811 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6812 {
  position:absolute;
  left:1px;
  top:72px;
}
#u6812_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6812_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
}
#u6814 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:130px;
}
#u6815 {
  position:absolute;
  left:2px;
  top:57px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6816 {
  position:absolute;
  left:7px;
  top:7px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6817 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u6818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u6818 {
  position:absolute;
  left:8px;
  top:41px;
  width:99px;
  height:1px;
}
#u6819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6820 {
  position:absolute;
  left:6px;
  top:51px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6821 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u6822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u6822 {
  position:absolute;
  left:10px;
  top:85px;
  width:99px;
  height:1px;
}
#u6823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6824 {
  position:absolute;
  left:6px;
  top:94px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6825 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u6826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6826 {
  position:absolute;
  left:0px;
  top:72px;
  width:1149px;
  height:49px;
}
#u6827 {
  position:absolute;
  left:2px;
  top:16px;
  width:1145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9843F;
}
#u6828 {
  position:absolute;
  left:456px;
  top:86px;
  width:141px;
  height:24px;
  font-size:20px;
  color:#C9843F;
}
#u6829 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u6830 {
  position:absolute;
  left:604px;
  top:88px;
  width:21px;
  height:18px;
}
#u6831 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6832 {
  position:absolute;
  left:986px;
  top:80px;
  width:143px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6833 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u6834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6834 {
  position:absolute;
  left:659px;
  top:81px;
  width:143px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6835 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u6836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6836 {
  position:absolute;
  left:299px;
  top:81px;
  width:143px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6837 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u6838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6838 {
  position:absolute;
  left:37px;
  top:131px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6840 {
  position:absolute;
  left:37px;
  top:169px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6841 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6842 {
  position:absolute;
  left:37px;
  top:206px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6843 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6844 {
  position:absolute;
  left:305px;
  top:169px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6846 {
  position:absolute;
  left:305px;
  top:206px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6847 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6848 {
  position:absolute;
  left:305px;
  top:134px;
  width:216px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6849 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u6850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u6850 {
  position:absolute;
  left:10px;
  top:255px;
  width:523px;
  height:1px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6852 {
  position:absolute;
  left:16px;
  top:279px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6854 {
  position:absolute;
  left:16px;
  top:398px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6855 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6856 {
  position:absolute;
  left:16px;
  top:601px;
  width:190px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6857 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6858 {
  position:absolute;
  left:92px;
  top:546px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6859 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6860 {
  position:absolute;
  left:300px;
  top:546px;
  width:94px;
  height:35px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6861 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6862 {
  position:absolute;
  left:196px;
  top:546px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6863 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6864 {
  position:absolute;
  left:196px;
  top:682px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6865 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6866 {
  position:absolute;
  left:92px;
  top:682px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6867 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6868 {
  position:absolute;
  left:16px;
  top:764px;
  width:77px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6869 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u6870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6870 {
  position:absolute;
  left:16px;
  top:910px;
  width:77px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u6872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:2px;
}
#u6872 {
  position:absolute;
  left:92px;
  top:747px;
  width:499px;
  height:1px;
}
#u6873 {
  position:absolute;
  left:2px;
  top:-8px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:2px;
}
#u6874 {
  position:absolute;
  left:93px;
  top:889px;
  width:499px;
  height:1px;
}
#u6875 {
  position:absolute;
  left:2px;
  top:-8px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:95px;
}
#u6876 {
  position:absolute;
  left:92px;
  top:279px;
  width:438px;
  height:95px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6877 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1468px;
}
#u6878 {
  position:absolute;
  left:596px;
  top:121px;
  width:1px;
  height:1467px;
}
#u6879 {
  position:absolute;
  left:2px;
  top:726px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:19px;
}
#u6880 {
  position:absolute;
  left:92px;
  top:400px;
  width:438px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:95px;
}
#u6882 {
  position:absolute;
  left:92px;
  top:432px;
  width:438px;
  height:95px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6883 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:57px;
}
#u6884 {
  position:absolute;
  left:92px;
  top:603px;
  width:410px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u6886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6886 {
  position:absolute;
  left:92px;
  top:772px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6887 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6888 {
  position:absolute;
  left:220px;
  top:772px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6889 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6890 {
  position:absolute;
  left:348px;
  top:772px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6891 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6892 {
  position:absolute;
  left:475px;
  top:772px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6893 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6894 {
  position:absolute;
  left:92px;
  top:835px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6895 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6896 {
  position:absolute;
  left:93px;
  top:910px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6897 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6898 {
  position:absolute;
  left:220px;
  top:910px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6899 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6900 {
  position:absolute;
  left:343px;
  top:910px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6901 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6902 {
  position:absolute;
  left:470px;
  top:910px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6903 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6904 {
  position:absolute;
  left:92px;
  top:968px;
  width:94px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6905 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u6906 {
  position:absolute;
  left:626px;
  top:331px;
  width:523px;
  height:1px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908 {
  position:absolute;
  left:705px;
  top:146px;
  width:438px;
  height:170px;
}
#u6908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6908_input {
  font-family:'应用字体';
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6909 {
  position:absolute;
  left:626px;
  top:153px;
  width:190px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6911 {
  position:absolute;
  left:626px;
  top:355px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6912 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#C9843F;
}
#u6913 {
  position:absolute;
  left:626px;
  top:409px;
  width:190px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#C9843F;
}
#u6914 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6915 {
  position:absolute;
  left:626px;
  top:476px;
  width:143px;
  height:45px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6916 {
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6917 {
  position:absolute;
  left:646px;
  top:485px;
  width:27px;
  height:27px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6919 {
  position:absolute;
  left:805px;
  top:476px;
  width:143px;
  height:45px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6920 {
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6921 {
  position:absolute;
  left:825px;
  top:485px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6922 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6923 {
  position:absolute;
  left:986px;
  top:476px;
  width:143px;
  height:45px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6924 {
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u6925 {
  position:absolute;
  left:626px;
  top:579px;
  width:523px;
  height:1px;
}
#u6926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6927 {
  position:absolute;
  left:626px;
  top:603px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6929 {
  position:absolute;
  left:705px;
  top:649px;
  width:438px;
  height:170px;
}
#u6929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6929_input {
  font-family:'应用字体';
}
#u6930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6930 {
  position:absolute;
  left:626px;
  top:656px;
  width:190px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C9843F;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u6932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D39C63;
}
#u6932 {
  position:absolute;
  left:752px;
  top:600px;
  width:29px;
  height:29px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D39C63;
}
#u6933 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  word-wrap:break-word;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:43px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6934 {
  position:absolute;
  left:834px;
  top:868px;
  width:143px;
  height:43px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6935 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:43px;
  background:inherit;
  background-color:rgba(211, 156, 99, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6936 {
  position:absolute;
  left:1006px;
  top:868px;
  width:143px;
  height:43px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6937 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6938 {
  position:absolute;
  left:974px;
  top:342px;
  width:81px;
  height:77px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  word-wrap:break-word;
}
