body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2823 {
  position:absolute;
  left:174px;
  top:661px;
  width:300px;
  height:170px;
}
#u2824 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u2825 {
  position:absolute;
  left:534px;
  top:524px;
  width:72px;
  height:72px;
}
#u2826 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u2827 {
  position:absolute;
  left:43px;
  top:806px;
  width:72px;
  height:72px;
}
#u2828 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2829 {
  position:absolute;
  left:513px;
  top:1013px;
  width:300px;
  height:170px;
}
#u2830 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u2831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2831 {
  position:absolute;
  left:512px;
  top:1013px;
  width:300px;
  height:170px;
}
#u2832 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u2833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2833 {
  position:absolute;
  left:293px;
  top:534px;
  width:300px;
  height:170px;
}
#u2834 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u2835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2835 {
  position:absolute;
  left:113px;
  top:142px;
  width:300px;
  height:170px;
}
#u2836 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u2837 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u2838 {
  position:absolute;
  left:2px;
  top:32px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2840 {
  position:absolute;
  left:70px;
  top:40px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2841 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2842 {
  position:absolute;
  left:373px;
  top:27px;
  width:50px;
  height:39px;
  font-size:36px;
  color:#FFFFFF;
}
#u2843 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  word-wrap:break-word;
}
#u2844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2844 {
  position:absolute;
  left:545px;
  top:190px;
  width:300px;
  height:170px;
}
#u2845 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2846 {
  position:absolute;
  left:10px;
  top:113px;
  width:300px;
  height:170px;
}
#u2847 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2848 {
  position:absolute;
  left:13px;
  top:26px;
  width:300px;
  height:170px;
}
#u2849 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u2850 {
  position:absolute;
  left:525px;
  top:379px;
  width:300px;
  height:60px;
}
#u2851 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:89px;
}
#u2852 {
  position:absolute;
  left:416px;
  top:234px;
  width:291px;
  height:89px;
}
#u2853 {
  position:absolute;
  left:2px;
  top:36px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u2854 {
  position:absolute;
  left:657px;
  top:388px;
  width:40px;
  height:41px;
}
#u2855 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2856 {
  position:absolute;
  left:872px;
  top:285px;
  width:300px;
  height:170px;
}
#u2857 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2858 {
  position:absolute;
  left:27px;
  top:143px;
}
#u2858_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2858_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2859 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2860 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u2861 {
  position:absolute;
  left:498px;
  top:166px;
  width:300px;
  height:200px;
}
#u2862 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u2863 {
  position:absolute;
  left:543px;
  top:256px;
  width:211px;
  height:20px;
}
#u2864 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:20px;
}
#u2865 {
  position:absolute;
  left:524px;
  top:256px;
  width:248px;
  height:20px;
}
#u2866 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u2867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2867 {
  position:absolute;
  left:17px;
  top:133px;
  width:300px;
  height:170px;
}
#u2868 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:358px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2822.a {
  position:absolute;
  left:-2px;
  top:617px;
  width:360px;
  height:64px;
}
#u2823.a {
  left:131px;
  top:638px;
  width:32px;
  height:21px;
}
#u2823_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2824.a {
  top:2px;
  width:28px;
}
#u2825.a {
  left:12px;
  top:629px;
  width:40px;
  height:37px;
}
#u2825_img.a {
  width:40px;
  height:37px;
}
#u2826.a {
  top:10px;
  width:36px;
}
#u2827.a {
  left:259px;
  top:625px;
  width:39px;
  height:40px;
}
#u2827_img.a {
  width:39px;
  height:40px;
}
#u2828.a {
  top:12px;
  width:35px;
}
#u2829.a {
  left:-2px;
  top:617px;
  width:120px;
  height:64px;
}
#u2829_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2830.a {
  top:22px;
  width:116px;
}
#u2831.a {
  left:238px;
  top:617px;
  width:120px;
  height:64px;
}
#u2831_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2832.a {
  top:22px;
  width:116px;
}
#u2833.a {
  left:118px;
  top:617px;
  width:120px;
  height:64px;
}
#u2833_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2834.a {
  top:22px;
  width:116px;
}
#u2835.a {
  left:0px;
  top:65px;
  width:360px;
  height:42px;
}
#u2835_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2836.a {
  top:13px;
  width:356px;
}
#u2837.a {
  width:360px;
  height:68px;
}
#u2837_img.a {
  width:360px;
  height:68px;
}
#u2838.a {
  top:26px;
  width:356px;
}
#u2839.a {
  position:absolute;
  left:51px;
  top:33px;
  width:91px;
  height:20px;
}
#u2840.a {
  left:51px;
  top:33px;
}
#u2840_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2841.a {
}
#u2842.a {
  left:310px;
  top:24px;
  width:42px;
  height:35px;
}
#u2842_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2843.a {
  top:-13px;
  width:38px;
}
#u2844.a {
  left:8px;
  top:28px;
  width:33px;
  height:33px;
}
#u2844_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2845.a {
  top:8px;
  width:29px;
}
#u2846.a {
  left:0px;
  top:616px;
  width:358px;
  height:5px;
}
#u2846_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2847.a {
  top:-6px;
  width:354px;
}
#u2848.a {
  left:17px;
  top:133px;
  width:320px;
  height:94px;
}
#u2848_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:94px;
  background:inherit;
  background-color:rgba(250, 237, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 208, 183, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
}
#u2849.a {
  top:39px;
  width:316px;
}
#u2850.a {
  left:33px;
  top:148px;
  width:288px;
}
#u2850_img.a {
  width:288px;
}
#u2851.a {
  width:288px;
}
#u2852.a {
  left:41px;
  top:72px;
  width:102px;
  height:29px;
}
#u2852_img.a {
  width:102px;
  height:29px;
}
#u2853.a {
  top:6px;
  width:98px;
}
#u2854.a {
  left:4px;
  top:69px;
  width:34px;
  height:36px;
}
#u2854_img.a {
  width:34px;
  height:36px;
}
#u2855.a {
  top:10px;
  width:30px;
}
#u2856.a {
  left:298px;
  top:200px;
  width:23px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2856_img.a {
  width:23px;
  height:13px;
}
#u2857.a {
  top:-2px;
  width:19px;
}
#u2858.a {
  position:absolute;
  left:17px;
  top:237px;
}
#u2859.a {
  width:320px;
  height:316px;
}
#u2859_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 208, 183, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
}
#u2860.a {
  top:150px;
  width:316px;
}
#u2861.a {
  left:10px;
  top:17px;
}
#u2861_img.a {
}
#u2862.a {
}
#u2863.a {
  left:93px;
  top:249px;
}
#u2863_img.a {
}
#u2864.a {
}
#u2865.a {
  left:56px;
  top:276px;
}
#u2865_img.a {
}
#u2866.a {
}
#u2858_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2867.a {
  width:320px;
  height:94px;
}
#u2867_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2868.a {
  top:39px;
  width:316px;
}
