body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4220 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u4221 {
  position:absolute;
  left:2px;
  top:28px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4222_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:63px;
  height:63px;
}
#u4222 {
  position:absolute;
  left:11px;
  top:10px;
  width:53px;
  height:53px;
}
#u4223 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u4224 {
  position:absolute;
  left:74px;
  top:15px;
  width:53px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u4225 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u4226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9843F;
}
#u4226 {
  position:absolute;
  left:65px;
  top:42px;
  width:167px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9843F;
}
#u4227 {
  position:absolute;
  left:2px;
  top:2px;
  width:163px;
  word-wrap:break-word;
}
#u4228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u4228 {
  position:absolute;
  left:1137px;
  top:17px;
  width:112px;
  height:37px;
}
#u4229 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u4230 {
  position:absolute;
  left:59px;
  top:54px;
  width:11px;
  height:10px;
}
#u4231 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u4232 {
  position:absolute;
  left:942px;
  top:18px;
  width:182px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u4233 {
  position:absolute;
  left:2px;
  top:2px;
  width:178px;
  word-wrap:break-word;
}
#u4234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4234 {
  position:absolute;
  left:11px;
  top:10px;
  width:59px;
  height:53px;
}
#u4235 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236 {
  position:absolute;
  left:1px;
  top:72px;
}
#u4236_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4236_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
}
#u4238 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:130px;
}
#u4239 {
  position:absolute;
  left:2px;
  top:57px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u4240 {
  position:absolute;
  left:7px;
  top:7px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u4241 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u4242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u4242 {
  position:absolute;
  left:8px;
  top:41px;
  width:99px;
  height:1px;
}
#u4243 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u4244 {
  position:absolute;
  left:6px;
  top:51px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u4245 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u4246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u4246 {
  position:absolute;
  left:10px;
  top:85px;
  width:99px;
  height:1px;
}
#u4247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u4248 {
  position:absolute;
  left:6px;
  top:94px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u4249 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u4250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:13px;
  -moz-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u4250 {
  position:absolute;
  left:95px;
  top:128px;
  width:300px;
  height:170px;
}
#u4251 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4252 {
  position:absolute;
  left:175px;
  top:165px;
  width:141px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4253 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4254 {
  position:absolute;
  left:150px;
  top:215px;
  width:191px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4255 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4256 {
  position:absolute;
  left:161px;
  top:239px;
  width:191px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4257 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:13px;
  -moz-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u4258 {
  position:absolute;
  left:475px;
  top:348px;
  width:300px;
  height:170px;
}
#u4259 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4260 {
  position:absolute;
  left:583px;
  top:385px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4261 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4262 {
  position:absolute;
  left:524px;
  top:435px;
  width:221px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4263 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4264 {
  position:absolute;
  left:556px;
  top:460px;
  width:191px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4265 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:13px;
  -moz-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u4266 {
  position:absolute;
  left:475px;
  top:128px;
  width:300px;
  height:170px;
}
#u4267 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4268 {
  position:absolute;
  left:567px;
  top:165px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4269 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4270 {
  position:absolute;
  left:522px;
  top:224px;
  width:221px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4271 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u4272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:13px;
  -moz-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u4272 {
  position:absolute;
  left:95px;
  top:348px;
  width:300px;
  height:170px;
}
#u4273 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4274 {
  position:absolute;
  left:171px;
  top:385px;
  width:141px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4275 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u4276 {
  position:absolute;
  left:126px;
  top:441px;
  width:271px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u4277 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u4278 {
  position:absolute;
  left:606px;
  top:597px;
}
#u4278_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4278_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(250, 237, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:13px;
  -moz-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u4279 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u4280 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:center;
}
#u4281 {
  position:absolute;
  left:66px;
  top:37px;
  width:169px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:center;
}
#u4282 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4283 {
  position:absolute;
  left:59px;
  top:119px;
  width:221px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4284 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u4285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4285 {
  position:absolute;
  left:666px;
  top:266px;
  width:99px;
  height:16px;
  color:#999999;
}
#u4286 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:13px;
  -moz-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u4287 {
  position:absolute;
  left:855px;
  top:128px;
  width:300px;
  height:170px;
}
#u4288 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4289 {
  position:absolute;
  left:934px;
  top:165px;
  width:141px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
}
#u4290 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4291 {
  position:absolute;
  left:902px;
  top:224px;
  width:221px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4292 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
