body {
  margin:0px;
  background-image:url('../../images/首页/bg.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  overflow:hidden;
}
#u53_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  bottom:10px;
}
#u54_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:26px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u56 {
  position:absolute;
  left:0px;
  top:2px;
  width:1200px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:425px;
  top:150px;
}
#u57_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:350px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:350px;
}
#u59 {
  position:absolute;
  left:0px;
  top:167px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u57_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:350px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:350px;
}
#u61 {
  position:absolute;
  left:0px;
  top:167px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:175px;
  width:301px;
  height:301px;
  overflow:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:301px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u64 {
  position:absolute;
  left:0px;
  top:142px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:301px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u66 {
  position:absolute;
  left:0px;
  top:142px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:900px;
  top:175px;
  width:301px;
  height:301px;
  overflow:hidden;
}
#u67_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:301px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u69 {
  position:absolute;
  left:0px;
  top:142px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:301px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u71 {
  position:absolute;
  left:0px;
  top:142px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:425px;
  top:520px;
  width:351px;
  height:71px;
  overflow:hidden;
  visibility:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:71px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:71px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u74 {
  position:absolute;
  left:0px;
  top:23px;
  width:350px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:500px;
  width:301px;
  height:71px;
  overflow:hidden;
  visibility:hidden;
}
#u75_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:71px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:71px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u77 {
  position:absolute;
  left:0px;
  top:11px;
  width:300px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:900px;
  top:500px;
  width:301px;
  height:71px;
  overflow:hidden;
  visibility:hidden;
}
#u78_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:71px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:71px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u80 {
  position:absolute;
  left:0px;
  top:11px;
  width:300px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:161px;
}
#u81 {
  position:absolute;
  left:300px;
  top:650px;
  width:600px;
  height:161px;
}
#u82 {
  position:absolute;
  left:0px;
  top:72px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
  overflow:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(198, 156, 109, 1);
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u85 {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u86 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u87 {
  position:absolute;
  left:55px;
  top:5px;
  width:1px;
  height:40px;
}
#u88 {
  position:absolute;
  left:0px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u89 {
  position:absolute;
  left:66px;
  top:10px;
  width:75px;
  height:30px;
  color:#754C24;
}
#u90 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u91 {
  position:absolute;
  left:1160px;
  top:5px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
