body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:558px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4918 {
  position:absolute;
  left:23px;
  top:30px;
  width:91px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4920 {
  position:absolute;
  left:24px;
  top:176px;
  width:190px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4922 {
  position:absolute;
  left:25px;
  top:285px;
  width:89px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:120px;
}
#u4924 {
  position:absolute;
  left:101px;
  top:29px;
  width:439px;
  height:120px;
  font-size:16px;
  color:#C9843F;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:80px;
}
#u4926 {
  position:absolute;
  left:100px;
  top:175px;
  width:439px;
  height:80px;
  font-size:16px;
  color:#C9843F;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:80px;
}
#u4928 {
  position:absolute;
  left:100px;
  top:282px;
  width:439px;
  height:80px;
  font-size:16px;
  color:#C9843F;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u4930 {
  position:absolute;
  left:17px;
  top:956px;
  width:525px;
  height:304px;
}
#u4930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:304px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4930_input {
  font-family:'应用字体';
}
#u4931 {
  position:absolute;
  left:17px;
  top:884px;
  width:525px;
  height:63px;
}
#u4931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4931_input {
  font-family:'应用字体';
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4932 {
  position:absolute;
  left:25px;
  top:805px;
  width:91px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u4934 {
  position:absolute;
  left:101px;
  top:822px;
  width:342px;
  height:40px;
}
#u4934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4934_input {
  font-family:'应用字体';
}
#u4935 {
  position:absolute;
  left:460px;
  top:820px;
  width:72px;
  height:40px;
}
#u4935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4935_input {
  font-family:'应用字体';
}
#u4936 {
  position:absolute;
  left:17px;
  top:1285px;
}
#u4936_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4936_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4937 {
  position:absolute;
  left:0px;
  top:72px;
  width:525px;
  height:304px;
}
#u4937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:304px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4937_input {
  font-family:'应用字体';
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:63px;
}
#u4938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4938_input {
  font-family:'应用字体';
}
#u4939 {
  position:absolute;
  left:4px;
  top:1671px;
}
#u4939_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u4940 {
  position:absolute;
  left:441px;
  top:0px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4942 {
  position:absolute;
  left:339px;
  top:0px;
}
#u4942_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4942_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u4943 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 132, 63, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4945 {
  position:absolute;
  left:16px;
  top:63px;
  width:167px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4946 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 132, 63, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4947 {
  position:absolute;
  left:387px;
  top:63px;
  width:167px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4948 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u4949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 132, 63, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4949 {
  position:absolute;
  left:202px;
  top:63px;
  width:167px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4950 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u4951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4951 {
  position:absolute;
  left:136px;
  top:123px;
  width:300px;
  height:27px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4953 {
  position:absolute;
  left:25px;
  top:524px;
  width:89px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4955 {
  position:absolute;
  left:25px;
  top:404px;
  width:89px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u4957 {
  position:absolute;
  left:100px;
  top:406px;
  width:220px;
  height:36px;
}
#u4957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4957_input {
  font-family:'应用字体';
}
#u4957_input:disabled {
  color:grayText;
}
#u4958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4958 {
  position:absolute;
  left:25px;
  top:465px;
  width:89px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4959 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u4960 {
  position:absolute;
  left:100px;
  top:466px;
  width:220px;
  height:36px;
}
#u4960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4960_input {
  font-family:'应用字体';
}
#u4960_input:disabled {
  color:grayText;
}
#u4961 {
  position:absolute;
  left:100px;
  top:527px;
  width:289px;
  height:36px;
}
#u4961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4961_input {
  font-family:'应用字体';
}
#u4961_input:disabled {
  color:grayText;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4962 {
  position:absolute;
  left:25px;
  top:586px;
  width:89px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u4964 {
  position:absolute;
  left:100px;
  top:589px;
  width:289px;
  height:36px;
}
#u4964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4964_input {
  font-family:'应用字体';
}
#u4964_input:disabled {
  color:grayText;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4965 {
  position:absolute;
  left:25px;
  top:653px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9843F;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4967 {
  position:absolute;
  left:100px;
  top:649px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4968 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4969 {
  position:absolute;
  left:210px;
  top:649px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4970 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4971 {
  position:absolute;
  left:320px;
  top:649px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4972 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4973 {
  position:absolute;
  left:430px;
  top:649px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4974 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4975 {
  position:absolute;
  left:100px;
  top:699px;
  width:132px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4976 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4977 {
  position:absolute;
  left:253px;
  top:699px;
  width:109px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4978 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4979 {
  position:absolute;
  left:384px;
  top:699px;
  width:109px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4980 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4981 {
  position:absolute;
  left:100px;
  top:752px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4982 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4983 {
  position:absolute;
  left:210px;
  top:752px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4984 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4985 {
  position:absolute;
  left:320px;
  top:752px;
  width:89px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u4986 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
