body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3513 {
  position:absolute;
  left:113px;
  top:142px;
  width:300px;
  height:170px;
}
#u3514 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u3515 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u3516 {
  position:absolute;
  left:2px;
  top:32px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3518 {
  position:absolute;
  left:70px;
  top:40px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3519 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u3520 {
  position:absolute;
  left:373px;
  top:27px;
  width:50px;
  height:39px;
  font-size:36px;
  color:#FFFFFF;
}
#u3521 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  word-wrap:break-word;
}
#u3522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:89px;
}
#u3522 {
  position:absolute;
  left:416px;
  top:234px;
  width:291px;
  height:89px;
}
#u3523 {
  position:absolute;
  left:2px;
  top:36px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3524 {
  position:absolute;
  left:545px;
  top:190px;
  width:300px;
  height:170px;
}
#u3525 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:199px;
}
#u3526 {
  position:absolute;
  left:397px;
  top:176px;
  width:199px;
  height:199px;
}
#u3527 {
  position:absolute;
  left:2px;
  top:92px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3528 {
  position:absolute;
  left:154px;
  top:208px;
  width:43px;
  height:16px;
}
#u3529 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3531 {
  position:absolute;
  left:366px;
  top:309px;
  width:24px;
  height:24px;
}
#u3532 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3533 {
  position:absolute;
  left:164px;
  top:369px;
  width:24px;
  height:24px;
}
#u3534 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3535 {
  position:absolute;
  left:174px;
  top:379px;
  width:24px;
  height:24px;
}
#u3536 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3537 {
  position:absolute;
  left:184px;
  top:389px;
  width:24px;
  height:24px;
}
#u3538 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3539 {
  position:absolute;
  left:209px;
  top:369px;
  width:24px;
  height:24px;
}
#u3540 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3541 {
  position:absolute;
  left:147px;
  top:127px;
  width:127px;
  height:16px;
}
#u3542 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u3543 {
  position:absolute;
  left:657px;
  top:388px;
  width:40px;
  height:41px;
}
#u3544 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3545 {
  position:absolute;
  left:88px;
  top:151px;
  width:36px;
  height:128px;
}
#u3546 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3547 {
  position:absolute;
  left:88px;
  top:151px;
  width:36px;
  height:128px;
}
#u3548 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3549 {
  position:absolute;
  left:47px;
  top:137px;
  width:36px;
  height:64px;
}
#u3550 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3551 {
  position:absolute;
  left:47px;
  top:137px;
  width:36px;
  height:112px;
}
#u3552 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3553 {
  position:absolute;
  left:1565px;
  top:-306px;
  width:300px;
  height:170px;
}
#u3554 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u3513.a {
  left:0px;
  top:65px;
  width:360px;
  height:42px;
}
#u3513_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3514.a {
  top:13px;
  width:356px;
}
#u3515.a {
  width:360px;
  height:68px;
}
#u3515_img.a {
  width:360px;
  height:68px;
}
#u3516.a {
  top:26px;
  width:356px;
}
#u3517.a {
  position:absolute;
  left:51px;
  top:33px;
  width:91px;
  height:20px;
}
#u3518.a {
  left:51px;
  top:33px;
}
#u3518_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3519.a {
}
#u3520.a {
  left:310px;
  top:24px;
  width:42px;
  height:35px;
}
#u3520_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u3521.a {
  top:-13px;
  width:38px;
}
#u3522.a {
  left:45px;
  top:72px;
  width:102px;
  height:29px;
}
#u3522_img.a {
  width:102px;
  height:29px;
}
#u3523.a {
  top:6px;
  width:98px;
}
#u3524.a {
  left:8px;
  top:28px;
  width:33px;
  height:33px;
}
#u3524_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3525.a {
  top:8px;
  width:29px;
}
#u3526.a {
  left:21px;
  top:117px;
  width:78px;
  height:81px;
}
#u3526_img.a {
  width:78px;
  height:81px;
}
#u3527.a {
  top:32px;
  width:74px;
}
#u3528.a {
  left:137px;
  top:130px;
  height:20px;
}
#u3528_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3529.a {
}
#u3531.a {
  left:193px;
  top:130px;
  width:13px;
  height:13px;
}
#u3531_img.a {
  width:13px;
  height:13px;
}
#u3532.a {
  top:-2px;
  width:9px;
}
#u3533.a {
  left:208px;
  top:130px;
  width:13px;
  height:13px;
}
#u3533_img.a {
  width:13px;
  height:13px;
}
#u3534.a {
  top:-2px;
  width:9px;
}
#u3535.a {
  left:223px;
  top:130px;
  width:13px;
  height:13px;
}
#u3535_img.a {
  width:13px;
  height:13px;
}
#u3536.a {
  top:-2px;
  width:9px;
}
#u3537.a {
  left:238px;
  top:130px;
  width:13px;
  height:13px;
}
#u3537_img.a {
  width:13px;
  height:13px;
}
#u3538.a {
  top:-2px;
  width:9px;
}
#u3539.a {
  left:253px;
  top:130px;
  width:13px;
  height:13px;
}
#u3539_img.a {
  width:13px;
  height:13px;
}
#u3540.a {
  top:-2px;
  width:9px;
}
#u3541.a {
  left:136px;
  top:167px;
  height:20px;
}
#u3541_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3542.a {
}
#u3543.a {
  left:4px;
  top:69px;
  width:34px;
  height:36px;
}
#u3543_img.a {
  width:34px;
  height:36px;
}
#u3544.a {
  top:10px;
  width:30px;
}
#u3545.a {
  left:21px;
  top:217px;
  width:315px;
  height:67px;
}
#u3545_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3546.a {
  left:2px;
  top:2px;
  width:311px;
}
#u3547.a {
  left:45px;
  top:315px;
  width:288px;
  height:25px;
}
#u3547_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3548.a {
  left:2px;
  top:2px;
  width:284px;
}
#u3549.a {
  left:28px;
  top:367px;
  width:288px;
  height:28px;
}
#u3549_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3550.a {
  left:2px;
  top:2px;
  width:284px;
}
#u3551.a {
  left:42px;
  top:428px;
  width:288px;
  height:25px;
}
#u3551_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3552.a {
  left:2px;
  top:2px;
  width:284px;
}
#u3553.a {
  left:60px;
  top:495px;
  width:251px;
  height:44px;
}
#u3553_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 132, 63, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u3554.a {
  top:12px;
  width:247px;
}
