body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:12px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6225 {
  position:absolute;
  left:642px;
  top:75px;
  width:638px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6226 {
  position:absolute;
  left:2px;
  top:14px;
  width:634px;
  word-wrap:break-word;
}
#u6227 {
  position:absolute;
  left:642px;
  top:121px;
  width:634px;
  height:778px;
}
#u6227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:778px;
}
#u6228 {
  position:absolute;
  left:0px;
  top:73px;
  width:638px;
  height:826px;
}
#u6228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:826px;
}
#u6230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6230 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u6231 {
  position:absolute;
  left:2px;
  top:28px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:63px;
  height:63px;
}
#u6232 {
  position:absolute;
  left:11px;
  top:10px;
  width:53px;
  height:53px;
}
#u6233 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6234 {
  position:absolute;
  left:74px;
  top:15px;
  width:53px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9843F;
}
#u6235 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u6236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9843F;
}
#u6236 {
  position:absolute;
  left:65px;
  top:42px;
  width:167px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9843F;
}
#u6237 {
  position:absolute;
  left:2px;
  top:2px;
  width:163px;
  word-wrap:break-word;
}
#u6238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u6238 {
  position:absolute;
  left:1137px;
  top:17px;
  width:112px;
  height:37px;
}
#u6239 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u6240 {
  position:absolute;
  left:59px;
  top:54px;
  width:11px;
  height:10px;
}
#u6241 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u6242 {
  position:absolute;
  left:942px;
  top:18px;
  width:182px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9843F;
  text-align:left;
}
#u6243 {
  position:absolute;
  left:2px;
  top:2px;
  width:178px;
  word-wrap:break-word;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6244 {
  position:absolute;
  left:11px;
  top:10px;
  width:59px;
  height:53px;
}
#u6245 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6246 {
  position:absolute;
  left:1px;
  top:72px;
}
#u6246_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6246_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(204, 204, 204, 0.349019607843137);
}
#u6248 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:130px;
}
#u6249 {
  position:absolute;
  left:2px;
  top:57px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6250 {
  position:absolute;
  left:7px;
  top:7px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6251 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u6252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u6252 {
  position:absolute;
  left:8px;
  top:41px;
  width:99px;
  height:1px;
}
#u6253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6254 {
  position:absolute;
  left:6px;
  top:51px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6255 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u6256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u6256 {
  position:absolute;
  left:10px;
  top:85px;
  width:99px;
  height:1px;
}
#u6257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6258 {
  position:absolute;
  left:6px;
  top:94px;
  width:99px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9843F;
}
#u6259 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u6260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 156, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6260 {
  position:absolute;
  left:1174px;
  top:82px;
  width:92px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D39C63;
}
#u6261 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
