@using Master.Web.Components
@{
    ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-app-message">
    <ul id="tree" class="ztree"
        style="padding: 2px; border: 1px solid #ddd; overflow: auto;min-height:500px"></ul>
</div>

@section scripts{
    <script>
        var labelId = $.getUrlParam("data");
        var zTreeObj;
        var ztree = function () {
            
            var setting = {
                check: {
                    enable: true,
                    chkboxType: { "Y": "", "N": "" }
                },
                view: { selectedMulti: false },
                data: {                    
                    key: {
                        name: 'name',
                        title: 'name'
                    },
                    simpleData: {
                        enable: true,
                        idKey: 'id',
                        pIdKey: 'parentId',
                        rootPId: null
                    }
                },
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        
                    }
                }
            };
            var load = function () {
                var loadTypeTree = abp.services.app.baseTree.getTypeTreeJsonByParentId();
                var loadBindedNodes = abp.services.app.label.getBindedNodes(labelId);
                Promise.all([loadTypeTree, loadBindedNodes]).then(function (res) {
                    var json = res[0];
                    var bindedNodes = res[1];
                    console.log(bindedNodes);
                    nodes = json;
                    //根节点不能选中
                    json.forEach(function (o) {
                        if (!o.parentId) o.nocheck = true;
                        if (bindedNodes.filter(function (n) { return n.id == o.id }).length > 0) {
                            o.checked = true;
                        }
                    })
                    zTreeObj = $.fn.zTree.init($("#tree"), setting);
                    //var newNode = { briefName: "根节点", id: null, parentId: "" };
                    //json.push(newNode);
                    zTreeObj.addNodes(null, json);
                    //mainList({ orgId: "" });
                    zTreeObj.expandAll(true);
                })
                //    
                //});
                //$.getJSON(url, function (json) {
                //    zTreeObj = $.fn.zTree.init($("#tree"), setting);
                //    var newNode = { Name: "根节点", Id: null, ParentId: "" };
                //    json.push(newNode);
                //    zTreeObj.addNodes(null, json);
                //    //mainList({ orgId: "" });
                //    zTreeObj.expandAll(true);
                //});
            };
            load();
            return {
                reload: load,
            };
        }();
        config.ready = function () {
            

        };
        function submit() {
            abp.message.confirm("确认提交?", function () {
                var nodes = zTreeObj.getCheckedNodes();
                var nodeIds = nodes.map(function (o) { return o.id });
                func.runAsync(abp.services.app.label.bindToNode(labelId, nodeIds).done(function () {
                    parent.layer.msg("提交成功");
                    parent.config.reloadTable();
                    parent.layer.closeAll("iframe");
                }))
            })
            
        }
    </script>
}

