@using Master.Web.Components
@inherits Master.Web.Components.MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@{
	ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-row">
                <div class="layui-col-xs4">
                    <vc:base-tree param="@(new BaseTreeViewParam() { TreeKey="BaseType",TreeName="分类设置"})"></vc:base-tree>

                </div>
                <div class="layui-col-xs8">
                    
                </div>
            </div>


        </div>
    </div>
</div>