#app {
  font-size: 14px;
}

header {
  height: 80px;
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img#logo {
  height: 50px;
  width: 157px;
}

/*header .title{
    color:#C59B6D;
    font-size:20px;
    line-height:20px;
}*/
#banner img {
  width: 100%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 0;
  background: #fff;
  z-index: 1;
}

nav ul.nav-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

nav ul.nav-img-wrap .nav-img {
  /*display: flex;*/
  cursor: pointer;
}

nav ul.nav-img-wrap .nav-img .icon_p {
  background: #C59B6D;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

nav ul.nav-img-wrap .nav-img .text_p {
  color: #C59B6D;
  text-align: center;
  font-size: 16px;
}

main {
  background: #f4f4f4;
  margin-bottom: 36px;
}

main .main-wrap {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-wrap .lawyer-wrap {
  color: #C59B6D;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 985px;
  margin-right: 10px;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 4px solid #C59B6D;
  margin-bottom: 10px;
  padding-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 101px;
  z-index: 2;
  background: #f4f4f4;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo {
  margin-right: 20px;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-img_p {
  width: 70px;
  height: 70px;
  background: #C59B6D;
  color: #FEFCFC;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
  position: relative;
  cursor: pointer;
  background-size: cover;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-img_p.lawyer-more {
  background: transparent;
  border: 1px solid #c59b6d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-img_p.lawyer-more > span {
  color: #c59b6d;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-img_p > span {
  line-height: 19px;
  width: 2em;
  display: block;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-img_p > .only-watch {
  display: none;
  background: rgba(197, 155, 109, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 15px 10px;
  line-height: 20px;
  text-align: center;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-img_p:hover > .only-watch {
  display: block;
}

main .main-wrap .lawyer-wrap .lawyer-logo-wrap .lawyer-logo .lawyer-name_p {
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

main aside {
  background: #fff;
  width: 370px;
  text-align: center;
  position: relative;
  color: #646464;
}

main aside h3 {
  color: #fff;
  background: #C59B6D;
  font-size: 23px;
  line-height: 106px;
  font-weight: bold;
  letter-spacing: 16px;
}

main aside .zhuce-wrap {
  margin-top: 148px;
  line-height: 1;
}

main aside .zhuce-wrap .zhuce-p1 {
  font-size: 18px;
  letter-spacing: 6px;
}

main aside .zhuce-wrap .zhuce-p2 {
  margin-top: 10px;
  font-size: 14px;
}

main aside .qr-code {
  margin-top: 31px;
  height: 180px;
  width: 180px;
}

main aside .zhaomu-wrap {
  margin-top: 120px;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main aside .zhaomu-wrap .dashed {
  width: 80px;
  display: inline-block;
  border-bottom: 1px dashed #C59B6D;
  margin: 0 10px;
}

main aside .zhaomu-msg {
  margin-top: 26px;
  font-size: 14px;
}

.viewcase-list {
  height: 900px;
  overflow: auto;
}

.viewcase-list .view-case {
  margin-bottom: 20px;
  font-size: 14px;
}

.viewcase-list .view-case:hover .viewcase-title {
  background: #764c24 !important;
}

.viewcase-list .view-case:hover .viewcase-detail {
  background: #f7f0e8 !important;
}

.viewcase-list .view-case i1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.viewcase-list .view-case i1 .lawyer-avata {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.viewcase-list .view-case i1 .viewcase-title-wrap {
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.viewcase-list .view-case i1 .viewcase-title-wrap .sourcesn {
  font-size: 13px;
  color: #a9a9a9;
  line-height: 20px;
  cursor: pointer;
}

.viewcase-list .view-case i1 .viewcase-title-wrap .sourcesn:hover {
  text-decoration: underline;
}

.viewcase-list .view-case i1 .viewcase-title-wrap .viewcase-title {
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 0 7px;
  line-height: 25px;
  height: 50px;
  background: #C59B6D;
}

.viewcase-list .view-case .viewcase-detail {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.viewcase-list .view-case .viewcase-detail .introduction {
  color: #787878;
  line-height: 25px;
  min-height: 50px;
  border-bottom: 1px solid #8e8e8e;
  padding-bottom: 10px;
}

.viewcase-list .view-case .viewcase-detail .bottom-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  color: #a9a9a9;
}

.drop-wrap {
  color: #787878;
  font-size: 14px;
  line-height: 2;
}

.drop-title {
  font-size: 16px;
  color: #000;
  line-height: 20px;
  font-weight: bold;
}

.drop-dsc {
  color: #C59B6D;
  font-size: 14px;
  line-height: 2;
  margin-right: 12px;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background: #fff;
}
/*# sourceMappingURL=home.css.map */