body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3245 {
  position:absolute;
  left:113px;
  top:142px;
  width:300px;
  height:170px;
}
#u3246 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u3247 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
}
#u3248 {
  position:absolute;
  left:2px;
  top:32px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3250 {
  position:absolute;
  left:70px;
  top:40px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3251 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u3252 {
  position:absolute;
  left:373px;
  top:27px;
  width:50px;
  height:39px;
  font-size:36px;
  color:#FFFFFF;
}
#u3253 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  word-wrap:break-word;
}
#u3254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:89px;
}
#u3254 {
  position:absolute;
  left:416px;
  top:234px;
  width:291px;
  height:89px;
}
#u3255 {
  position:absolute;
  left:2px;
  top:36px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3256 {
  position:absolute;
  left:545px;
  top:190px;
  width:300px;
  height:170px;
}
#u3257 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:199px;
}
#u3258 {
  position:absolute;
  left:397px;
  top:176px;
  width:199px;
  height:199px;
}
#u3259 {
  position:absolute;
  left:2px;
  top:92px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3260 {
  position:absolute;
  left:154px;
  top:208px;
  width:43px;
  height:16px;
}
#u3261 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3263 {
  position:absolute;
  left:366px;
  top:309px;
  width:24px;
  height:24px;
}
#u3264 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3265 {
  position:absolute;
  left:164px;
  top:369px;
  width:24px;
  height:24px;
}
#u3266 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3267 {
  position:absolute;
  left:174px;
  top:379px;
  width:24px;
  height:24px;
}
#u3268 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3269 {
  position:absolute;
  left:184px;
  top:389px;
  width:24px;
  height:24px;
}
#u3270 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3271 {
  position:absolute;
  left:209px;
  top:369px;
  width:24px;
  height:24px;
}
#u3272 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3273 {
  position:absolute;
  left:147px;
  top:127px;
  width:127px;
  height:16px;
}
#u3274 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3275 {
  position:absolute;
  left:36px;
  top:480px;
  width:200px;
  height:1px;
}
#u3276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3277 {
  position:absolute;
  left:36px;
  top:453px;
  width:36px;
  height:32px;
}
#u3278 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u3279 {
  position:absolute;
  left:657px;
  top:388px;
  width:40px;
  height:41px;
}
#u3280 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3281 {
  position:absolute;
  left:36px;
  top:453px;
  width:36px;
  height:32px;
}
#u3282 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3283 {
  position:absolute;
  left:31px;
  top:272px;
  width:36px;
  height:32px;
}
#u3284 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3285 {
  position:absolute;
  left:18px;
  top:297px;
  width:200px;
  height:1px;
}
#u3286 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3287 {
  position:absolute;
  left:31px;
  top:272px;
  width:36px;
  height:32px;
}
#u3288 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3289 {
  position:absolute;
  left:216px;
  top:272px;
  width:36px;
  height:32px;
}
#u3290 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3291 {
  position:absolute;
  left:29px;
  top:312px;
  width:200px;
  height:1px;
}
#u3292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3293 {
  position:absolute;
  left:31px;
  top:334px;
  width:36px;
  height:32px;
}
#u3294 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3295 {
  position:absolute;
  left:216px;
  top:334px;
  width:36px;
  height:32px;
}
#u3296 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3297 {
  position:absolute;
  left:29px;
  top:374px;
  width:200px;
  height:1px;
}
#u3298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u3245.a {
  left:0px;
  top:65px;
  width:360px;
  height:42px;
}
#u3245_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3246.a {
  top:13px;
  width:356px;
}
#u3247.a {
  width:360px;
  height:68px;
}
#u3247_img.a {
  width:360px;
  height:68px;
}
#u3248.a {
  top:26px;
  width:356px;
}
#u3249.a {
  position:absolute;
  left:51px;
  top:33px;
  width:91px;
  height:20px;
}
#u3250.a {
  left:51px;
  top:33px;
}
#u3250_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3251.a {
}
#u3252.a {
  left:310px;
  top:24px;
  width:42px;
  height:35px;
}
#u3252_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u3253.a {
  top:-13px;
  width:38px;
}
#u3254.a {
  left:45px;
  top:72px;
  width:102px;
  height:29px;
}
#u3254_img.a {
  width:102px;
  height:29px;
}
#u3255.a {
  top:6px;
  width:98px;
}
#u3256.a {
  left:8px;
  top:28px;
  width:33px;
  height:33px;
}
#u3256_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3257.a {
  top:8px;
  width:29px;
}
#u3258.a {
  left:21px;
  top:117px;
  width:78px;
  height:81px;
}
#u3258_img.a {
  width:78px;
  height:81px;
}
#u3259.a {
  top:32px;
  width:74px;
}
#u3260.a {
  left:137px;
  top:130px;
}
#u3260_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3261.a {
}
#u3263.a {
  left:193px;
  top:130px;
  width:13px;
  height:13px;
}
#u3263_img.a {
  width:13px;
  height:13px;
}
#u3264.a {
  top:-2px;
  width:9px;
}
#u3265.a {
  left:208px;
  top:130px;
  width:13px;
  height:13px;
}
#u3265_img.a {
  width:13px;
  height:13px;
}
#u3266.a {
  top:-2px;
  width:9px;
}
#u3267.a {
  left:223px;
  top:130px;
  width:13px;
  height:13px;
}
#u3267_img.a {
  width:13px;
  height:13px;
}
#u3268.a {
  top:-2px;
  width:9px;
}
#u3269.a {
  left:238px;
  top:130px;
  width:13px;
  height:13px;
}
#u3269_img.a {
  width:13px;
  height:13px;
}
#u3270.a {
  top:-2px;
  width:9px;
}
#u3271.a {
  left:253px;
  top:130px;
  width:13px;
  height:13px;
}
#u3271_img.a {
  width:13px;
  height:13px;
}
#u3272.a {
  top:-2px;
  width:9px;
}
#u3273.a {
  left:136px;
  top:167px;
}
#u3273_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3274.a {
}
#u3275.a {
  left:14px;
  top:240px;
  width:328px;
}
#u3275_img.a {
  width:329px;
}
#u3276.a {
  width:324px;
}
#u3277.a {
  left:12px;
  top:216px;
  width:296px;
  height:25px;
}
#u3277_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3278.a {
  left:2px;
  top:2px;
  width:292px;
}
#u3279.a {
  left:4px;
  top:69px;
  width:34px;
  height:36px;
}
#u3279_img.a {
  width:34px;
  height:36px;
}
#u3280.a {
  top:10px;
  width:30px;
}
#u3281.a {
  left:21px;
  top:262px;
  width:194px;
  height:25px;
}
#u3281_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3282.a {
  left:2px;
  top:2px;
  width:190px;
}
#u3283.a {
  left:206px;
  top:262px;
  width:127px;
  height:25px;
}
#u3283_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3284.a {
  left:2px;
  top:2px;
  width:123px;
}
#u3285.a {
  left:19px;
  top:302px;
  width:316px;
}
#u3285_img.a {
  width:317px;
}
#u3286.a {
  width:312px;
}
#u3287.a {
  left:21px;
  top:324px;
  width:194px;
  height:25px;
}
#u3287_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3288.a {
  left:2px;
  top:2px;
  width:190px;
}
#u3289.a {
  left:206px;
  top:324px;
  width:127px;
  height:25px;
}
#u3289_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3290.a {
  left:2px;
  top:2px;
  width:123px;
}
#u3291.a {
  left:19px;
  top:364px;
  width:316px;
}
#u3291_img.a {
  width:317px;
}
#u3292.a {
  width:312px;
}
#u3293.a {
  left:21px;
  top:385px;
  width:194px;
  height:25px;
}
#u3293_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3294.a {
  left:2px;
  top:2px;
  width:190px;
}
#u3295.a {
  left:206px;
  top:385px;
  width:127px;
  height:25px;
}
#u3295_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3296.a {
  left:2px;
  top:2px;
  width:123px;
}
#u3297.a {
  left:19px;
  top:425px;
  width:316px;
}
#u3297_img.a {
  width:317px;
}
#u3298.a {
  width:312px;
}
