@using Master.Web.Components
@model ModuleFormViewParam
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    var m = Model;
    m.FormType = Master.Module.FormType.Add;
}

<div id="app">
	<vc:module-form param="@m"></vc:module-form>
</div>

@section scripts{ 
	<script>
		var app;
		config.ready=function(){
			app = new Vue({
				el: '#app',
				created: function () {
					this.$nextTick(function () {
						layui.form.render();
					})
				}
			});
		}
	</script>
}