@using Abp.Web.Mvc.Models
@model ErrorViewModel
@{
    Layout = "_WeUILayout";
    ViewData["Title"] = "Error";
}

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">@Model.ErrorInfo.Message</h2>
        <p class="weui-msg__desc">@Model.ErrorInfo.Details</p>
    </div>
    @*<div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_primary">推荐操作</a>
            <a href="javascript:;" class="weui-btn weui-btn_default">辅助操作</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
        </div>
    </div>*@
</div>

