@using Abp.Web.Mvc.Models
@model ErrorViewModel
@{
    Layout = "_WeUILayout";
    ViewData["Title"] = "请关注";
}

<div class="weui-msg">
	<div class="weui-msg__text-area">
		<img src="~/Views/WeiXin/qrcode.jpg" />
		<h2 class="weui-msg__title">请关注</h2>
		<p class="weui-msg__desc"></p>
	</div>
</div>

