@using Master.Configuration
@inject WebCoreConfiguration WebCoreConfiguration
@{
	Layout = "_WeUILayout";
	ViewData["Title"] = "登录";
}

<div class="weui-msg">
	<div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
	<div class="weui-msg__text-area">
		<h2 class="weui-msg__title">登录@(WebCoreConfiguration.SoftName)系统</h2>
		<p class="weui-msg__desc">确认登录@(WebCoreConfiguration.SoftName)系统</p>
	</div>
	<div class="weui-msg__opr-area">
		<p class="weui-btn-area">
			<a href="javascript:;" class="weui-btn weui-btn_primary" onclick="doSubmit()">确认登录</a>
			@*<a href="javascript:;" class="weui-btn weui-btn_default">辅助操作</a>*@
		</p>
	</div>
	<div class="weui-msg__extra-area">
		<div class="weui-footer">
			@*<p class="weui-footer__links">
					<a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
				</p>*@
			<p class="weui-footer__text">Copyright © 2008-2019 </p>
		</div>
	</div>
</div>

@section scripts{
	<script>
		var guid = "@ViewBag.Guid";
        function doSubmit() {
            func.runAsync(abp.services.app.weiXin.login(guid).done(function () {
                location.href = "/weixin/success?msg=" + encodeURIComponent("提交成功");
            }))

        }
	</script>
}