
@section styles{
    <style>
       body{
           overflow:hidden;
       }

        #codeImg {
            display: block;
            margin: 10px auto;
        }
    </style>
}

<div style="text-align:center;margin-top:20px;" id="app">
    <img id="codeImg" :src="qrCode" width="250" />
</div>

@section scripts{
    <script>
        var guid = "@ViewBag.Guid";
        var callback = $.getUrlParam("callback");
		config.ready = function () {
			var app = new Vue({
				el: '#app',
				computed: {
					qrCode: function () {
						return '/api/qrcode?url=' + encodeURIComponent(location.origin + "/WeiXin/ScanUserInfoCallback?guid=" + guid);
					}
				}
			});
            //定时轮询
			var loopFunc=function () {
				abp.services.app.weiXin.getUserInfo().done(function (data) {
					console.log(data);
					if (data) {						
						parent[callback]&&parent[callback](data);
						parent.layer.closeAll('iframe');
					} else {
						window.setTimeout(loopFunc, 1000);
					}


				});
			}
			loopFunc();
			
			
		}
    </script>
}