@using Master.Web.Components
@inherits Master.Web.Components.MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@{
    ViewData["Title"] = "RemindTactics";
}


<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                <vc:module-button module-key="ProcessQuote"></vc:module-button>
            </div>
            <vc:module-table param="@(new ModuleTableViewParam() {ID="ProcessQuote",ModuleKey=nameof(Master.MES.ProcessQuote),Height="full-100",Where="",DataUrl="/api/services/app/processquote/GetPageResult" })"></vc:module-table>
        </div>

    </div>
</div>

@section scripts{
    <script>
        //layui加载完成后调用此方法，
        config.ready = function () {
            var element = layui.element;

            config.refresh();
        }
        //当检索窗体提交后会调用此方法
        config.reloadTable = function () {
            layui.table.reload('ProcessQuote', {
                where: getWhere()

            })
        }
        config.onTableDone = function () {

        }
        //当编辑或删除或添加表单提交后会调用此方法
        config.refresh = function () {

        }
        function getWhere() {
            var where = {};

            where.searchCondition = func.buildSearchCondition('ProcessQuote');

            return where;

        }
    </script>
}