@using Master.Web.Components
@inherits Master.Web.Components.MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@{
	ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-app-message">
	<div class="layui-card">
		<div class="layui-card-body">
            <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                <vc:module-button module-key="Project"></vc:module-button>
                <input type="text" id="name-input" class="layui-input" style="width: 150px; display: inline-block;height: 30px;vertical-align: middle;" placeholder="输入模具编号检索" />
                <button class="layui-btn  layui-btn-sm" onclick="config.reloadTable()">搜索</button>
            </div>
			<vc:module-table param="@(new ModuleTableViewParam() {ID="Project",ModuleKey=nameof(Master.Projects.Project),Height="full-100",Where="" })"></vc:module-table>
		</div>
		
	</div>
</div>

@section scripts{
	<script>
		//layui加载完成后调用此方法，
		config.ready = function () {
			var element = layui.element;

			config.refresh();
		}
		//当检索窗体提交后会调用此方法
		config.reloadTable = function () {
			layui.table.reload('Project', {
				where: getWhere()

			})
		}
		config.onTableDone = function () {

		}
		//当编辑或删除或添加表单提交后会调用此方法
        config.refresh = function () {
            
		}
		function getWhere() {
			var where = {where:''};
            $('#name-input').val()&&(where.where += " ProjectSN.Contains(\"" + $('#name-input').val() + "\")")
			where.searchCondition = func.buildSearchCondition('Project');

			return where;

		}
	</script>
}